.card {
  //height: 13rem;
  border: none;
  border-radius: 1rem;

  img {
    height: 2rem;
  }

  .card-title {
    font-family: 'quicksand-bold', sans-serif;
    font-size: 1.2rem;
  }

  .card-body {
    font-size: 0.9rem;
  }
}
