<section id="section-about-us">
    <app-banner
            [image]="'assets/images/about-us/banner.jpg'"
            [imagePosition]="'50% 100%'"
            [title]="'Quem somos'"
            [text]="'A nossa equipa é composta por estudantes universitários de diferentes áreas e polivalências que ' +
             'partilham entre si o objetivo comum de ajudar a tornar a cidade mais ciclável e sustentável. Em baixo poderás ' +
              'conhecer-nos um pouco melhor!'">
    </app-banner>

    <div class="container">
        <h3 class="text-center text-dark-header">A equipa do <span class="text-gradient font-qks-bold">Cycling Fizz</span></h3>

        <div class="d-flex flex-wrap justify-content-center align-items-center">
            <app-team-member class="pt-lg-5 mt-lg-5"
                    [name]="'Bernardo Marques'"
                    [job]="'Co-Fundador & Backend Developer'"
                    [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nulla eget lectus nunc.'">
            </app-team-member>

            <app-team-member class="pt-lg-5 mt-lg-5"
                    [name]="'Joana Sesinando'"
                    [job]="'Co-Fundadora & Frontend Developer'"
                    [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nulla eget lectus nunc.'">
            </app-team-member>

            <app-team-member class="pt-lg-5 mt-lg-5"
                    [name]="'Someone'"
                    [job]="'Backend Developer'"
                    [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nulla eget lectus nunc.'">
            </app-team-member>

            <app-team-member class="pt-lg-5 mt-lg-5"
                    [name]="'Beatriz Tomaz'"
                    [job]="'Tradução & Publicação de conteúdo'"
                    [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nulla eget lectus nunc.'">
            </app-team-member>

            <app-team-member class="pt-lg-5 mt-lg-5"
                    [name]="'Adriana Afonso'"
                    [job]="'Redes Sociais'"
                    [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nulla eget lectus nunc.'">
            </app-team-member>
        </div>
    </div>

</section>
<app-go-top></app-go-top>
