@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.tag-yellow {
  border-color: $tag-yellow;
  color: $tag-yellow;
}
.tag-orange {
  border-color: $tag-orange;
  color: $tag-orange;
}
.tag-red {
  border-color: $tag-red;
  color: $tag-red;
}
.tag-pink {
  border-color: $tag-pink;
  color: $tag-pink;
}
.tag-purple {
  border-color: $tag-purple;
  color: $tag-purple;
}
.tag-darkBlue {
  border-color: $tag-darkBlue;
  color: $tag-darkBlue;
}
.tag-blue {
  border-color: $tag-blue;
  color: $tag-blue;
}
.tag-green {
  border-color: $tag-green;
  color: $tag-green;
}

.tag {
  border: 2px solid;
  border-radius: 10rem;
  background-color: transparent;
}
