/* ===================================================================
 *
 *  Cycling Fizz v1.0 Blog Card Stylesheet
 *  03-11-2019 #FIXME
 *
 * =================================================================== */

@import "~styles/colors";


.card {
  font-family: 'quicksand-regular', sans-serif;
  border: none;
  border-radius: 1rem;

  .card-img-top {
    height: 13rem;
    //object-fit: cover; //FIXME isto atrasa a transição no carousel
  }

  .card-subtitle {
    font-family: 'quicksand-bold', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: $orange;

    &::after {
      content: attr(data-after-content);
      font-family: 'quicksand-light', sans-serif;
      font-size: .8rem;
      color: $gray;
      text-transform: none;
    }
  }

  .card-title {
    font-family: 'quicksand-bold', sans-serif;
  }

  .engagement {
    font-size: 0.8rem;
  }

  #comments { color: $gray; }
  #likes { color: $likes; }
}
