<div class="map-cards p-2">
    <div class="card-row">
        <div class="card-col">
            <nb-card style="height: 8rem">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/type.svg" class="mr-2">
                    Tipologia
                    <fa-icon [icon]="faInfoCircle" nbPopover="{{ typePopover }}" class="info ml-2"></fa-icon>
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ type.type }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <nb-select [selected]="type.id" status="success">
                        <nb-option *ngFor="let type of types" value="{{ type.id }}" class="success">{{ type.type }}</nb-option>
                    </nb-select>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="card-col">
            <nb-card style="height: 8rem">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/parking.svg" class="mr-2">
                    Nº de lugares
                    <fa-icon [icon]="faInfoCircle" nbPopover="{{ placesPopover }}" class="info ml-2"></fa-icon>
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ places }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <input type="text" nbInput value="{{ places }}" status="success">
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="card-row">
        <div class="card-col">
            <nb-card style="height: 8rem">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/security.svg" class="mr-2">
                    Segurança
                    <fa-icon [icon]="faInfoCircle" nbPopover="{{ securityPopover }}" class="info ml-2"></fa-icon>
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">
                    <div class="rating d-flex align-items-center">
                        <span class="security-rating mr-2">{{ security }}</span>
                        <div *ngFor="let i of securityArray">
                            <fa-icon *ngIf="i === 1" [icon]="faStar" class="star checked mr-2"></fa-icon>
                            <fa-icon *ngIf="i === 0" [icon]="faStar" class="star mr-2"></fa-icon>
                        </div>
                    </div>
                </nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <nb-select [selected]="(security-1).toString()" status="success">
                        <nb-option *ngFor="let n of securityArray; let i = index" value="{{ i }}" class="success">{{ i+1 }}</nb-option>
                    </nb-select>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="card-col">
            <nb-card style="height: 8rem">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/environment.svg" class="mr-2">
                    Ambiente
                    <fa-icon [icon]="faInfoCircle" nbPopover="{{ environmentPopover }}" class="info ml-2"></fa-icon>
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ environment.type }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <nb-select [selected]="environment.id" status="success">
                        <nb-option *ngFor="let environment of environments" value="{{ environment.id }}" class="success">
                            {{ environment.type }}
                        </nb-option>
                    </nb-select>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="card-row">
        <div class="card-col">
            <nb-card style="height: 8rem">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/access.svg" class="mr-2">
                    Acesso
                    <fa-icon [icon]="faInfoCircle" nbPopover="{{ accessPopover }}" class="info ml-2"></fa-icon>
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ access.type }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <nb-select [selected]="access.id" status="success">
                        <nb-option *ngFor="let access of accesses" value="{{ access.id }}" class="success">
                            {{ access.type }}
                        </nb-option>
                    </nb-select>
                </nb-card-body>
            </nb-card>
            <nb-card>
                <nb-card-body style="overflow: hidden">
                    <app-map-cards-checkbox *ngFor="let info of other_info"
                                            [icon]="info.icon"
                                            [label]="info.label"
                                            [checked]="info.checked"
                                            [disabled]="!editMode"
                                            [status]="editMode ? 'success' : ''"
                                            [popover]="info.popover">
                    </app-map-cards-checkbox>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="card-col">
            <nb-card class="notes">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/notes.svg" class="mr-2">
                    Notas
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ notes }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <textarea nbInput fullWidth status="success" style="height: 21rem" value="{{ notes }}"></textarea>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>

