<form id="newsletterForm" [formGroup]="email">
    <div id="subForm" class="form-group">
        <input type="email" class="form-control" id="subEmailInput" formControlName="subscriptionEmail"
               placeholder="{{'newsletter.placeholder' | translate}}"
               [class.is-invalid]="subscriptionEmail.invalid && subscriptionEmail.touched"
               [ngStyle]="{'border-width': border ? '1.5px' : '0', 'border-color': border ? '#f2f6f8' : ''}">
        <small id="emailHelp" class="form-text text-muted">*{{'newsletter.disclaimer' | translate}}</small>
        <button id ="subscribeBtn" type="submit" tabIndex="-1" class="subscribeBtn btn btn-primary px-3 float-right d-none d-sm-block"
                [disabled]="!subscriptionEmail.valid && subscriptionEmail.touched"
                (click)="subscribeToNewsletter()">
            {{'newsletter.subscribe' | translate}}
        </button>
        <button id ="subscribeBtnMobile" type="submit" tabIndex="-1" class="subscribeBtn btn btn-primary px-3 float-right d-sm-none"
                [disabled]="!subscriptionEmail.valid && subscriptionEmail.touched"
                (click)="subscribeToNewsletter()">
            <fa-icon [icon]="faPaperPlane" class="fa-md"></fa-icon>
        </button>
    </div>
</form>

<div *ngIf="(subscriptionEmail.invalid && subscriptionEmail.touched) || subscriptionEmail.dirty">
    <small *ngIf="subscriptionEmail.errors?.required" class="font-qks-medium text-red float-left">
        ⚠ {{'errors.requiredField' | translate}}
    </small>
    <small *ngIf="subscriptionEmail.errors?.pattern" class="font-qks-medium text-red float-left">
        ⚠ {{'errors.invalidEmail' | translate}}
    </small>
</div>
