<div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-popout-bg align-middle">

            <!-- body -->
            <app-modal-login
                    *ngIf="isCurrentModal(Modals.Login)"
                    (changeCurrentModal)="setCurrentModal($event)"
                    (verifyEmail)="open(verifyEmailDialog)"
            ></app-modal-login>
            <app-modal-register
                    *ngIf="isCurrentModal(Modals.Register)"
                    (changeCurrentModal)="setCurrentModal($event)"
            ></app-modal-register>
            <app-modal-complete-registration
                    *ngIf="isCurrentModal(Modals.CompleteRegister)"
                    (changeCurrentModal)="setCurrentModal($event)"
            ></app-modal-complete-registration>

        </div>
    </div>
</div>
<ng-template #verifyEmailDialog let-data let-ref="dialogRef"> <!--Fixme: translate-->
    <app-dialog
            [status]="'warning'"
            [text]="'Para poderes usar a tua conta do Cycling Fizz, tens que verificar o teu e-mail primeiro.'+
                    'Procura na tua caixa de correio o e-mail de verificação, ou clica em baixo para te enviarmos um novo.'"
            [leftButton]="'Cancelar'"
            [rightButton]="'Reenviar e-mail'"
            (onLeftBtnClicked)="ref.close()"
            (onRightBtnClicked)="sendEmailVerification(); ref.close();"
            (onCloseBtnClicked)="ref.close()"
    ></app-dialog> <!-- FIXME: send email again onRightBtnClicked-->
</ng-template>
