@import "../../../../styles/colors";
@import "../../../../styles/mixins";

@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";


.badge {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: -10px;
  left: 4px;
  @include media-breakpoint-down(md) { left: 0; }
}

.badge-new { background-color: $cf-pink; }
.badge-soon { background-color: $cf-yellow; }
.badge-primary { background: $cf-gradient-orange; }
