<section id="quote">

    <!-- Quote -->
    <div class="d-flex flex-row h-100">
        <p class="m-auto text-center">“ Nothing compares to the simple <br>pleasure of riding a bike. ”</p>
    </div>

    <!-- Jumping balls -->
    <div class="jumping-balls">
        <div class="ball-1 jumping-animation"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
        <div class="ball-2 jumping-animation2"><img src="../../../assets/images/homepage/blue-ball.png"></div>
        <div class="ball-3 jumping-animation2"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
        <div class="ball-4 jumping-animation3"><img src="../../../assets/images/homepage/green-ball.png"></div>
        <div class="ball-5 jumping-animation4"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
    </div>

</section>
