@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


#section-credits {
  .container {
    padding-top: 10em;
    padding-bottom: 12rem;
    font-family: quicksand-regular, sans-serif;

    .col-left {
      p { font-size: 1rem; }
      img {
        width: 10rem;
        @include media-breakpoint-down(md) {
          width: 9rem;
        }
      }
      a:hover { color: $cf-orange; }
    }
  }
}
