@import "~styles/_colors";
@import "~styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


#section-credits {
  .container {
    padding-top: 6rem;
    padding-bottom: 10rem;
    font-family: quicksand-regular, sans-serif;

    .col-left {
      p { font-size: 1.2rem; }
      img {
        width: 10rem;
        @include media-breakpoint-down(md) {
          width: 9rem;
        }
      }
    }
  }
}
