<header>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top px-4" id="mainNav">

      <!-- logo -->
      <a class="navbar-brand" href="#">Cycling Fizz</a>

      <!-- mobile menu -->
      <button class="navbar-toggler hamburger hamburger--spring" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMobileMenu()">
        <span class="navbar-toggler-icon hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <!-- navigation -->
      <div class="navbar-collapse collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-lg-auto mr-4">

          <!-- início -->
          <li class="nav-item">
            <a class="nav-link clickable-nav-link" routerLink="">Início</a>
          </li>

          <!-- mapa -->
          <li class="nav-item">
            <a class="nav-link clickable-nav-link" routerLink="/map">Mapa</a>
          </li>

          <!-- útil -->
          <li class="nav-item dropdown">
            <a class="nav-link d-lg-none d-flex justify-content-between" href="#" id="navbarDropdownUtilLink" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Útil

                <button id="hmbg1" class="hamburger hamburger--spring ddHamburguers" type="button" data-toggle="collapse" data-target="#navbarDropdownUtil"
                        aria-controls="navbarDropdownUtil" aria-expanded="false" aria-label="Toggle dropdown menu">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
            </a>
            <a class="nav-link d-none d-lg-block" href="#" id="navbarDropdownUtilLinkLarge" role="button" aria-haspopup="true" aria-expanded="false">
              Útil
              <fa-icon [icon]="faChevronDown" class="fa-xs faChevronDown"></fa-icon>
            </a>
            <div id="navbarDropdownUtil" class="dropdown-menu ml-lg-4" aria-labelledby="navbarDropdownUtilLink">
              <a class="dropdown-item clickable-nav-link" href="#"><fa-icon [icon]="faTrafficLight"></fa-icon>Regras de Trânsito</a>
              <a class="dropdown-item clickable-nav-link" href="#"><fa-icon [icon]="faRoute"></fa-icon>Percursos</a>
              <a class="dropdown-item clickable-nav-link" href="#"><fa-icon [icon]="faQuestion"></fa-icon>Principiantes</a>
            </div>
          </li>

          <!-- comunidade -->
          <li class="nav-item dropdown">
            <a class="nav-link d-lg-none d-flex justify-content-between" href="#" id="navbarDropdownComunidadeLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Comunidade
              <button id="hmbg2" class="hamburger hamburger--spring ddHamburguers" type="button" data-toggle="collapse" data-target="#navbarDropdownUtil"
                      aria-controls="navbarDropdownUtil" aria-expanded="false" aria-label="Toggle dropdown menu">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
              </button>
            </a>
            <a class="nav-link d-none d-lg-block" href="#" id="navbarDropdownComunidadeLinkLarge" role="button" aria-haspopup="true" aria-expanded="false">
              Comunidade
              <fa-icon [icon]="faChevronDown" class="fa-xs faChevronDown"></fa-icon>
            </a>
            <div class="dropdown-menu ml-lg-4" aria-labelledby="navbarDropdownComunidadeLink">
              <a class="dropdown-item clickable-nav-link" href="#"><fa-icon [icon]="faComments"></fa-icon>Fórum</a>
              <a class="dropdown-item clickable-nav-link" href="#"><img src="../../../assets/images/header/icons/blog.svg">Blog</a>
              <a class="dropdown-item clickable-nav-link" href="#"><img src="../../../assets/images/header/icons/calendar.svg">Eventos</a>
            </div>
          </li>

          <!-- sobre -->
          <li class="nav-item dropdown">
            <a class="nav-link d-lg-none d-flex justify-content-between" href="#" id="navbarDropdownSobreLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="100, 100, 200, 200">
              Sobre
              <button id="hmbg3" class="hamburger hamburger--spring ddHamburguers" type="button" data-toggle="collapse" data-target="#navbarDropdownUtil"
                      aria-controls="navbarDropdownUtil" aria-expanded="false" aria-label="Toggle dropdown menu">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
              </button>
            </a>
            <a class="nav-link d-none d-lg-block" href="#" id="navbarDropdownSobreLinkLarge" role="button" aria-haspopup="true" aria-expanded="false" data-offset="100, 100, 200, 200">
              Sobre
              <fa-icon [icon]="faChevronDown" class="fa-xs faChevronDown"></fa-icon>
            </a>
            <div class="dropdown-menu ml-lg-4" aria-labelledby="navbarDropdownSobreLink">
              <a class="dropdown-item clickable-nav-link" href="#"><img src="../../../assets/images/header/icons/idea.svg">O projeto</a>
              <a class="dropdown-item clickable-nav-link" href="#"><fa-icon [icon]="faUsers"></fa-icon>Quem somos</a>
              <a class="dropdown-item clickable-nav-link" href="#"><img src="../../../assets/images/header/icons/envelope.svg">Contactar</a>
            </div>
          </li>

          <!-- idioma -->
            <div [ngSwitch]="mobileView">
                <div *ngSwitchCase="false">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownIdiomaLink" data-toggle="dropdown">
                            <fa-icon [icon]="faGlobeEurope" class="fa-lg"></fa-icon>
                        </a>
                        <div class="dropdown-menu ml-lg-4" aria-labelledby="navbarDropdownIdiomaLink">
                            <a class="dropdown-item" href="#"><img src="../../../assets/images/header/icons/portugues.svg">PT</a>
                            <a class="dropdown-item" href="#"><img src="../../../assets/images/header/icons/english.svg">EN</a>
                            <a class="dropdown-item" href="#"><img src="../../../assets/images/header/icons/français.svg">FR</a>
                        </div>
                    </li>
                </div>

                <div *ngSwitchCase="true">
                    <div class="last-mobile-row row justify-content-between py-3">
                        <div class="col-sm-auto pb-sm-0 pb-4">
                            <div class="row justify-content-sm-start justify-content-around">
                                <div class="col-3">
                                    <a class="dropdown-item" href="#"><img src="../../../assets/images/header/icons/portugues.svg">PT</a>
                                </div>
                                <div class="col-3">
                                    <a class="dropdown-item" href="#"><img src="../../../assets/images/header/icons/english.svg">EN</a>
                                </div>
                                <div class="col-3">
                                    <a class="dropdown-item" href="#"><img src="../../../assets/images/header/icons/français.svg">FR</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-auto text-center">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#sign-in">Login</button>
                        </div>
                    </div>
                </div>
            </div>

        </ul>

        <!-- login -->
        <div [ngSwitch]="mobileView">
            <div *ngSwitchCase="false">
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#sign-in">Login</button>
            </div>
        </div>

      </div> <!-- /navigation -->

  </nav>

  <app-modal-login-register></app-modal-login-register>

</header>

