/* ===================================================================
 *
 *  Cycling Fizz v1.0 Header Stylesheet
 *  27-05-2019 #FIXME
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. main navigation
 *  02. hamburger button
 *  03. responsive
 *
 * =================================================================== */

@import "~styles/colors";
@import "~styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";



/* ===================================================================
 *  01. main navigation
 *
 * ------------------------------------------------------------------- */

 nav {
  min-height: 4rem; // when changed, update navbar-toggler margins
  top: 0.7em;
  z-index: 600;
  background-color: transparent;
  @include transition(all 0.3s ease-in-out);

  .navbar-brand {
    color: transparent;
    width: 17rem;
    height: 4rem;
    background: url("../../../assets/images/header/logo.svg") no-repeat center;
    background-size: 17rem 4rem;
    @include transition(all 0.3s ease-in-out);
  }

  .navbar-toggler {
    // needed for the dropdown on mobile to work seamlessly
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}

nav.navbar-top {
  top: 0;
  background: linear-gradient(180deg, #FFFFFF 43.95%, rgba(255, 255, 255, 0.85) 100%);
  box-shadow: 0 2px 13px 0 #a5a5a57a;

  .navbar-brand {
    width: 15rem;
    height: 2.5rem;
    background-size: 15rem 2.5rem;
  }

} 

nav.bg-white {
    top: 0;
    background: linear-gradient(180deg, #FFFFFF 43.95%, rgba(255, 255, 255, 0.85) 100%);
    box-shadow: 0 2px 13px 0 #a5a5a57a;
}

.navbar-nav {
  font-family: "quicksand-medium", sans-serif;
  font-size: 1.2em;

  .nav-item {
    padding-left: 1em;

    .nav-link {
      color: $header;
      @include transition(color 0.1s ease-in-out);

      &:hover {
        color: $orange;
      }

      img:hover {
        color: $orange;
      }
    }
  }
}

.dropdown-menu {
  border: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-family: 'quicksand-regular', serif;
  line-height: 2rem;
  min-width: 5rem;

  .dropdown-item {
    color: $header;

    &:active {
      background-color: rgba(47, 55, 61, 0.08);
    }
  }

  fa-icon {
    margin-right: 1rem;
    font-size: 1.3rem;
  }

  img {
    margin-right: 1rem;
    height: 1.3rem;
  }
}

@include media-breakpoint-up(lg) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }
}


/* ===================================================================
 *  02. hamburger button
 *
 * ------------------------------------------------------------------- */

$hamburger-padding-x           : 0;
$hamburger-padding-y           : 0;
$hamburger-layer-width         : 1.7rem;
$hamburger-layer-height        : 0.25rem;
$hamburger-layer-spacing       : 0.3rem;
$hamburger-layer-color         : $header;
$hamburger-layer-border-radius : 2rem;
$hamburger-hover-opacity       : 1;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
  display: none;
}



/* ===================================================================
 *  03. responsive
 *
 * ------------------------------------------------------------------- */

@include media-breakpoint-down(lg) { // desktops
  nav {
    .navbar-brand {
      width: 15rem;
      height: 2.5rem;
      background-size: 15rem 2.5rem;
    }
  }
}

@include media-breakpoint-down(md) { // phones & tablets

  nav {
    .navbar-brand {
      width: 11rem;
      height: 1.7rem;
      background: url("../../../assets/images/header/logo-dark.svg") no-repeat center;
      background-size: 11rem 1.7rem;
    }
  }

  nav.navbar-top {
    .navbar-brand {
      width: 11rem;
      height: 1.7rem;
      background: url("../../../assets/images/header/logo-orange.svg") no-repeat center;
      background-size: 11rem 1.7rem;
    }
  }

  .navbar-nav {
    .nav-item {
      border-top: 0.1rem solid $lightGray;

      fa-icon.faChevronDown {
        display: none;
      }
    }

    .nav-link {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }

  #navbarResponsive {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }

  .dropdown-menu {
    padding: 0;
    box-shadow: none;

    .dropdown-item {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .last-mobile-row {
    border-top: 0.1rem solid $lightGray;

    img {
      height: 1.3rem;
      padding-right: 1rem;
    }

    button {
      padding: 0 4rem;
    }
  }

  .hamburger {
    display: inline-block;
  }

  .hamburger:focus {
    outline: none;
  }

  .ddHamburguers .hamburger-box {
    width: 1.5rem;
    height: 1rem;
  }

  .ddHamburguers .hamburger-inner,
  .ddHamburguers .hamburger-inner::before,
  .ddHamburguers .hamburger-inner::after,
  .ddHamburguers.is-active .hamburger-inner::before,
  .ddHamburguers.is-active .hamburger-inner::after {
    background-color: $gray;
    width: 1.5rem;
    height: 0.15rem;
  }
}

@include media-breakpoint-down(sm) { // phones

  .last-mobile-row {
    button {
      padding: 0 40%;
    }
  }

}

@include media-breakpoint-down(xs) { // portrait phones

  .last-mobile-row {
    .dropdown-item {
      padding: 0;
    }
  }

}


