/* ===================================================================
 *
 *  Cycling Fizz v1.0 Header Stylesheet
 *  27-05-2019 #FIXME
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. colors
 *  02. mixins
 *  03. main navigation
 *  04. hamburger button
 *  05. modal
 *  06. responsive
 *
 * =================================================================== */


/* ===================================================================
 *  01. colors
 *
 * ------------------------------------------------------------------- */

/** general **/
$orange: #FF9F3C;
$green: #32BE8E;
$lightGray: #F2F6F8;
$darkGray: #57565C;
$header: #2F373D;

/** social-list **/
$facebook: #3b68c6;
$google: #FB3B2E;
$twitter: #0cbbff;


/* ===================================================================
 *  02. mixins
 *
 * ------------------------------------------------------------------- */

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

 @mixin transition($property) {
  -moz-transition: $property;
  -o-transition: $property;
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
 }

@mixin transform($property) {
  -moz-transform: $property;
  -o-transform: $property;
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}


/* ===================================================================
 *  03. main navigation
 *
 * ------------------------------------------------------------------- */

 nav {
  min-height: 4rem; // when changed, update navbar-toggler margins
  top: 0.7em;
  z-index: 600;
  background-color: transparent;
  @include transition(all 0.3s ease-in-out);

  .navbar-brand {
    color: transparent;
    width: 17rem;
    height: 4rem;
    background: url("../../../assets/images/logo.svg") no-repeat center;
    background-size: 17rem 4rem;
    @include transition(all 0.3s ease-in-out);
  }

  .navbar-toggler {
    // needed for the dropdown to work seemlessly
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}

nav.navbar-top {
  top: 0;
  background: linear-gradient(180deg, #FFFFFF 43.95%, rgba(255, 255, 255, 0.85) 100%);
  box-shadow: 0 2px 13px 0 #a5a5a57a;

  .navbar-brand {
    width: 15rem;
    height: 2.5rem;
    background-size: 15rem 2.5rem;
  }

} 

nav.bg-white {
    top: 0;
    background: linear-gradient(180deg, #FFFFFF 43.95%, rgba(255, 255, 255, 0.85) 100%);
    box-shadow: 0 2px 13px 0 #a5a5a57a;
}

.navbar-nav {
  font-family: "quicksand-medium", sans-serif;
  font-size: 1.2em;

  .nav-item {
    padding-left: 1em;

    .nav-link {
      color: $header;
      @include transition(color 0.1s ease-in-out);

      &:hover {
        color: $orange;
      }

      img:hover {
        color: $orange;
      }
    }
  }
}

.dropdown-menu {
  padding: 1rem 0;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-family: 'quicksand-regular', serif;
  line-height: 2rem;
  min-width: 5rem;

  .dropdown-item {
    color: $header;

    &:active {
      background-color: rgba(47, 55, 61, 0.08);
    }
  }

  fa-icon {
    margin-right: 1rem;
    font-size: 1.3rem;
  }

  img {
    margin-right: 1rem;
    height: 1.3rem;
  }
}

@include media-breakpoint-up(lg) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }
}


/* ===================================================================
 *  04. hamburger button
 *
 * ------------------------------------------------------------------- */

$hamburger-padding-x           : 0;
$hamburger-padding-y           : 0;
$hamburger-layer-width         : 1.7rem;
$hamburger-layer-height        : 0.25rem;
$hamburger-layer-spacing       : 0.3rem;
$hamburger-layer-color         : $header;
$hamburger-layer-border-radius : 2rem;
$hamburger-hover-opacity       : 1;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
  display: none;
}


/* ===================================================================
 *  05. modal
 *
 * ------------------------------------------------------------------- */
.modal {
  font-family: 'quicksand-regular';
}
 .modal-header {
   border-bottom: none;
 }

 .modal-footer {
   border-top: none;
 }

 .modal-content {
   border: none;
   border-radius: 1rem;
 }

 .modal-body {
  .login {
    height: 37rem;
  }

  img {
    width: 40rem;
    border-radius: 1rem;
  }
 }

 .modal-popout-bg {
   background: white url(../../../assets/images/sign-inImg.svg) no-repeat top left;
   background-size: 40rem;
 }

 .flex-row {
  margin-left: 63%;
 }

 .login {
   .login-heading {
     font-family: 'martel-bold';
     font-size: 2.1rem;
     text-align: center;
   }

   .social a {
     text-align: center;
     height: 2.5rem;
     width: 2.5rem;
     border: solid $lightGray;
     border-radius: 100%;
     line-height: 2.5rem;
     @include transition(all 0.2s ease-in-out);

     fa-icon {
       font-size: 1.1rem;
       line-height: 0;
     }

     #fb { color: $facebook; }
     #gg { color: $google; }
     #tt { color: $twitter; }

     &:hover { @include transform(translateY(-0.5rem)); }
   }

   .form-control {
     padding: 1.5rem 1.5rem;
     margin-bottom: 1rem;
     border-radius: 3rem;

     &:focus {
       box-shadow: 0 0 0 0.2rem rgba(89, 59, 254, 0.25);
       border-color: #8280ff;
     }
   }

   .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
     border-color: #706dfe;
     background-color: #706dfe;
   }

   button.btn-login {
     padding: 0 3rem;
   }

   .fgt-pass {
     color: $orange;
   }

   .gray-label {
     color: $darkGray;
   }
 }


/* ===================================================================
 *  06. responsive
 *
 * ------------------------------------------------------------------- */

@include media-breakpoint-down(lg) { // desktops
  nav {
    .navbar-brand {
      width: 15rem;
      height: 2.5rem;
      background-size: 15rem 2.5rem;
    }
  }
}

@include media-breakpoint-down(md) { // phones & tablets

  nav {
    .navbar-brand {
      width: 11rem;
      height: 1.7rem;
      background: url("../../../assets/images/logo-dark.svg") no-repeat center;
      background-size: 11rem 1.7rem;
    }
  }

  nav.navbar-top {
    .navbar-brand {
      width: 11rem;
      height: 1.7rem;
      background: url("../../../assets/images/logo-orange.svg") no-repeat center;
      background-size: 11rem 1.7rem;
    }
  }

  .navbar-nav {
    .nav-item {
      border-top: 0.1rem solid $lightGray;

      fa-icon.faChevronDown {
        display: none;
      }
    }

    .nav-link {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }

  #navbarResponsive {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }

  .dropdown-menu {
    padding: 0;
    box-shadow: none;

    .dropdown-item {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .hamburger {
    display: inline-block;
  }

  .hamburger:focus {
    outline: none;
  }
}

@include media-breakpoint-down(sm) { // phones

  
}

//@import '../../../../node_modules/bootstrap/scss/bootstrap.scss'


