<header>

  <!-- Header -->
  <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <!--<div class="container-fluid">-->

      <!-- logo -->
      <a class="navbar-logo navbar-brand js-scroll-trigger" href="#">Cycling Fizz</a>

      <!-- mobile menu -->
      <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right collapsed" data-target="#navbarResponsive" data-toggle="collapse" type="button">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      
      <!-- navigation -->
      <div class="navbar-collapse collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto mr-4">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Início</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/map">Mapa</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownUtilLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Útil
              <fa-icon [icon]="faChevronDown" class="fa-xs"></fa-icon>
            </a>
            <div class="dropdown-menu ml-4" aria-labelledby="navbarDropdownUtilLink">
              <a class="dropdown-item" href="#"><fa-icon [icon]="faTrafficLight"></fa-icon>Regras de Transito</a>
              <a class="dropdown-item" href="#"><fa-icon [icon]="faRoute"></fa-icon>Percursos</a>
              <a class="dropdown-item" href="#"><fa-icon [icon]="faQuestion"></fa-icon>Principiantes</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownComunidadeLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Comunidade
              <fa-icon [icon]="faChevronDown" class="fa-xs"></fa-icon>
            </a>
            <div class="dropdown-menu ml-4" aria-labelledby="navbarDropdownComunidadeLink">
              <a class="dropdown-item" href="#"><fa-icon [icon]="faComments"></fa-icon>Fórum</a>
              <a class="dropdown-item" href="#"><img src="../../../assets/images/blog.svg">Blog</a>
              <a class="dropdown-item" href="#"><img src="../../../assets/images/calendar.svg">Eventos</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="100, 100, 200, 200">
              Sobre
              <fa-icon [icon]="faChevronDown" class="fa-xs"></fa-icon>
            </a>
            <div class="dropdown-menu ml-4" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#"><img src="../../../assets/images/idea.svg">O projeto</a>
              <a class="dropdown-item" href="#"><fa-icon [icon]="faUsers"></fa-icon>Quem somos</a>
              <a class="dropdown-item" href="#"><img src="../../../assets/images/envelope.svg">Contactar</a>
            </div>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdownIdiomaLink" data-toggle="dropdown">
                  <fa-icon [icon]="faGlobeEurope" class="fa-lg"></fa-icon>
              </a>
              <div class="dropdown-menu ml-4" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#"><img src="../../../assets/images/portugues.svg">PT</a>
                <a class="dropdown-item" href="#"><img src="../../../assets/images/english.svg">EN</a>
                <a class="dropdown-item" href="#"><img src="../../../assets/images/français.svg">FR</a>
              </div>
          </li>

        </ul>

        <!-- login -->
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#sign-in">Login</button>

      </div> <!-- /navigation -->

    <!--</div> &lt;!&ndash; /container &ndash;&gt;-->
  </nav>

  <!-- sign-in modal -->
  <div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-popout-bg">

          <!-- body -->
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="login d-flex-inline align-items-center justify-content-end py-5">
                    <div class="flex-row">
                          <div class="col-md-9 col-lg-9">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <form>
                              <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                <label for="inputEmail">Email address</label>
                              </div>
              
                              <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                <label for="inputPassword">Password</label>
                              </div>
              
                              <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                              </div>
                              <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                              <div class="text-center">
                                <a class="small" href="#">Forgot password?</a></div>
                            </form>
                          </div>
                        </div>
            </div>

          </div>

        </div>
      </div>
  </div> <!-- </sign-in modal> -->

</header>

