@import "~styles/colors";
@import "~styles/shadows";
@import "~styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


.go-top {
  position: fixed;
  bottom: 5%;
  right: 1.5%;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: $cf-gradient-orange;
  box-shadow: $cf-shadow-orange;
  transition: all 200ms ease-in-out;
  z-index: 100;
  opacity: 0;

  nb-icon {
    position: relative;
    left: 29%;
    top: 26%;
  }

  &.make-visible { opacity: 1; }

  &:hover, &:focus {
    cursor: pointer;
    transform: translateY(-.6rem);
  }
}
