/* ===================================================================
 *
 *  Cycling Fizz v1.0 Colors Partial
 *  03-11-2019 #FIXME
 *
 * =================================================================== */

  /** general **/
  $text: #212529;
  $header: #2F373D;
  $darkGray: #57565C;
  $gray: #838788;
  $lightGray: #F2F6F8;
  $superLightGray: #F7F9FA;
  $beige: #F7F7F7;
  $yellow: #FFC340;
  $orange: #FF9F3C;
  $gradient-orange: linear-gradient(270deg, #FF923C -11.51%, #FFC340 85.97%);
  $purple: #9790E3;

  /** social-list **/
  $youtube: #e5241d;
  $google: #FB3B2E;
  $instagram: #ce2f89;
  $facebook: #3b68c6;
  $twitter: #0cbbff;

  /** utilities **/
  $switch: #EDF0F0;
  $scrollbar: #BDBDBD;
  $likes: #ef5350;

  /** badges **/
  $badge-new: #FE4566;
  $badge-soon: $yellow;

  /** map element tags **/
  $tag-yellow: #F9A825;
  $tag-orange: $orange;
  $tag-red: #EF5350;
  $tag-pink: #F06292;
  $tag-purple: $purple;
  $tag-darkBlue: #5C6BC0;
  $tag-blue: #0097A7;
  $tag-green: #349B7A;
