/* ===================================================================
 *
 *  Cycling Fizz v1.0 Colors Partial
 *  03-11-2019 #FIXME
 *
 * =================================================================== */

  /** general **/
  $text: #212529;
  $header: #2F373D;
  $darkGray: #57565C;
  $gray: #838788;
  $lightGray: #F2F6F8;
  $beige: #F7F7F7;
  $orange: #FF9F3C;
  $gradient-orange: linear-gradient(270deg, #FF923C -11.51%, #FFC340 85.97%);

  /** social-list **/
  $youtube: #e5241d;
  $google: #FB3B2E;
  $instagram: #ce2f89;
  $facebook: #3b68c6;
  $twitter: #0cbbff;

  /** utilities **/
  $switch: #EDF0F0;
  $scrollbar: #BDBDBD;
  $likes: #ef5350;
