@import "colors";
@import 'nebular-themes';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-toggle-theme;
  @include nb-checkbox-theme;
  @include nb-card-theme;
  @include nb-user-theme;
  @include nb-buttons-theme;
  @include nb-input-theme;
  @include nb-chat-theme;
  @include nb-popover-theme;
  @include nb-icon-theme;
  @include nb-select-theme;
  @include nb-option-list-theme;
  @include nb-toast-theme;
  @include nb-overlay-theme;
  @include nb-sidebar-theme;
};


/* ===================================================================
 *  switch
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-toggle {
  user-select: none;
  display: block;
}

.nb-theme-default nb-toggle.text-white .text { color: white; }
.nb-theme-default nb-toggle.text-dark .text { color: $cf-dark; }

.nb-theme-default nb-toggle.status-control {
  .toggle-switcher nb-icon { color: $cf-orange; }
  .toggle.checked { background-color: $cf-orange; }
}

.nb-theme-default nb-toggle.quick-filters .toggle-label { margin-bottom: 0; }

.nb-theme-default nb-toggle.filter-switch .toggle-label {
  justify-content: space-between;
  width: 16rem;
  @include media-breakpoint-down(sm) { width: 14.5rem; }
}



/* ===================================================================
 *  checkbox
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-checkbox {
  user-select: none;
  display: block;
}

.nb-theme-default nb-checkbox.text-white .text { color: white; }
.nb-theme-default nb-checkbox.text-dark .text { color: $cf-dark; }

.nb-theme-default nb-checkbox.filter-group .text { font-weight: 500; }



/* ===================================================================
 *  user
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-user {
  .user-container { cursor: pointer; }
}

.nb-theme-default nb-user.gradient {
  .user-picture {
    border-color: transparent;
    &:before {
      content: "";
      width: 2.85rem;
      height: 2.85rem;
      background: $cf-gradient-orange;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: -1;
    }
  }
}

.nb-theme-default nb-user.text-white .user-name { color: white; }
.nb-theme-default nb-user.text-dark .user-name { color: $cf-dark; }



/* ===================================================================
 *  chat
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-chat.map-comments {
  box-shadow: none;
  .header { display: none; }
  .messages { padding: 1rem 0; }
}

.nb-theme-default nb-chat-message.map-comments {
  nb-chat-message-text {
    .text {
      background-color: $cf-superLightGray;
      color: $cf-darkGray;
    }

    .sender {
      font-family: quicksand-bold, sans-serif;
      font-size: 1rem;
      color: $cf-dark;

      time {
        font-family: quicksand-light, sans-serif;
        font-size: .9rem;
        color: $cf-gray;
        margin-left: 0.2rem;
      }
    }
  }
  &.not-reply .message { margin-right: 0; }
}

.nb-theme-default [nbButton].appearance-filled.status-primary {
  background: $cf-gradient-orange;
  border-color: #ffc46b;
}



/* ===================================================================
 *  popover
 *
 * ------------------------------------------------------------------- */

//.nb-theme-default nb-popover {
//  background: $cf-dark;
//  color: white;
//  .arrow::after {
//    border-bottom-color: $cf-dark;
//  }
//  .primitive-overlay {
//    font-family: quicksand-regular, sans-serif;
//    font-size: unset;
//    padding: 1.5rem;
//  }
//}



/* ===================================================================
 *  select
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-select.size-medium .select-button,
.nb-theme-default .size-medium nb-option { font-size: initial; }

.nb-theme-default nb-option.success.selected,
.nb-theme-default nb-option.success:hover { color: #00d68f; }

.nb-theme-default nb-option.success.selected { background-color: white; }
.nb-theme-default nb-option-group, .nb-theme-default nb-option.success { color: $cf-dark; }

// when select on, it would move left
.cdk-global-scrollblock { overflow-y: hidden; }



/* ===================================================================
 *  card
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-card.status-success nb-card-header,
.nb-theme-default nb-card.status-warning nb-card-header,
.nb-theme-default nb-card.status-danger nb-card-header,
.nb-theme-default nb-card.status-info nb-card-header {
  font-family: quicksand-regular, sans-serif;
}

.nb-theme-default nb-card.status-primary nb-card-header { background: $cf-gradient-orange; }
.nb-theme-default nb-card.status-success nb-card-header { background-color: $cf-green; }
.nb-theme-default nb-card.status-warning nb-card-header { background-color: $cf-yellow; }
.nb-theme-default nb-card.status-danger nb-card-header { background-color: $cf-pink; }
.nb-theme-default nb-card.status-info nb-card-header { background-color: $cf-blue; }


.nb-theme-default nb-card.card-filters {
  border: none;
  border-radius: 0;

  nb-card-header {
    background-color: $cf-lightGray;
    color: $cf-darkGray;
    font-family: quicksand-bold, sans-serif;
    font-size: 1.1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.nb-theme-default nb-card.map-element {
  $border-radius: 1.5rem;

  border: none;
  border-radius: $border-radius;

  nb-card-header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    font-size: 1.1rem;
    @include media-breakpoint-down(sm) { font-size: 1rem; }

    nb-icon:not(.star) { font-size: 1.5rem; }
    nb-icon.star { font-size: .9rem; }
  }
}



/* ===================================================================
 *  sidebar
 *
 * ------------------------------------------------------------------- */

$sidebar-width: 300px;
$sidebar-width-mobile: 280px;

.nb-theme-default nb-sidebar.expanded.map-filters {
  position: absolute;
  height: calc(100vh - 4rem - 3.5rem);
  width: $sidebar-width;
  @include media-breakpoint-down(sm) { width: $sidebar-width-mobile; }
  z-index: 5;

  .main-container {
    height: calc(100vh - 4rem - 3.5rem);
    width: $sidebar-width;
    @include media-breakpoint-down(sm) { width: $sidebar-width-mobile; }
  }

  .scrollable { padding: 0; }
}



/* ===================================================================
 *  icon
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-icon.cursor-hover:hover {
  cursor: pointer;
  opacity: .8;
}
