@import "colors";
@import 'nebular-themes';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-toggle-theme;
  @include nb-checkbox-theme;
  @include nb-card-theme;
  @include nb-user-theme;
  @include nb-buttons-theme;
  @include nb-input-theme;
  @include nb-chat-theme;
  @include nb-popover-theme;
  @include nb-icon-theme;
  @include nb-select-theme;
  @include nb-option-list-theme;
  @include nb-toast-theme;
  @include nb-overlay-theme;
};



/* ===================================================================
 *  switch
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-toggle { user-select: none; }

.nb-theme-default nb-toggle.text-white .text { color: white; }
.nb-theme-default nb-toggle.text-dark .text { color: $cf-dark; }

.nb-theme-default nb-toggle.status-control {
  .toggle-switcher nb-icon { color: $cf-orange; }
  .toggle.checked { background-color: $cf-orange; }
}

.nb-theme-default nb-toggle.filter-switch .toggle-label {
  justify-content: space-between;
  width: 16rem;
  @include media-breakpoint-down(sm) { width: 14.5rem; }
}



/* ===================================================================
 *  checkbox
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-checkbox { user-select: none; }

.nb-theme-default nb-checkbox.text-white .text { color: white; }
.nb-theme-default nb-checkbox.text-dark .text { color: $cf-dark; }

.nb-theme-default nb-checkbox.filter-group .text { font-weight: 500; }



/* ===================================================================
 *  user
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-user {
  .user-container { cursor: pointer; }
}

.nb-theme-default nb-user.gradient {
  .user-picture {
    border-color: transparent;
    &:before {
      content: "";
      width: 2.85rem;
      height: 2.85rem;
      background: $cf-gradient-orange;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: -1;
    }
  }
}

.nb-theme-default nb-user.text-white .user-name { color: white; }
.nb-theme-default nb-user.text-dark .user-name { color: $cf-dark; }



/* ===================================================================
 *  Chat
 *
 * ------------------------------------------------------------------- */

.nb-theme-default nb-chat.map-comments {
  box-shadow: none;
  .header { display: none; }
  .messages { padding: 1rem 0; }
}

.nb-theme-default nb-chat-message.map-comments {
  nb-chat-message-text {
    .text {
      background-color: $cf-superLightGray;
      color: $cf-darkGray;
    }

    .sender {
      font-family: quicksand-bold, sans-serif;
      font-size: 1rem;
      color: $cf-dark;

      time {
        font-family: quicksand-light, sans-serif;
        font-size: .9rem;
        color: $cf-gray;
        margin-left: 0.2rem;
      }
    }
  }
  &.not-reply .message { margin-right: 0; }
}

.nb-theme-default [nbButton].appearance-filled.status-primary {
  background: $cf-gradient-orange;
  border-color: #ffc46b;
}


/* ===================================================================
 *  Popover
 *
 * ------------------------------------------------------------------- */

//.nb-theme-default nb-popover {
//  background: $cf-dark;
//  color: white;
//  .arrow::after {
//    border-bottom-color: $cf-dark;
//  }
//  .primitive-overlay {
//    font-family: quicksand-regular, sans-serif;
//    font-size: unset;
//    padding: 1.5rem;
//  }
//}


/* ===================================================================
 *  Select
 *
 * ------------------------------------------------------------------- */

//.nb-theme-default nb-select .select-button,
//.nb-theme-default nb-option, .nb-theme-default nb-option-group {
//  font-family: quicksand-regular, sans-serif;
//}
//.nb-theme-default nb-select.size-medium .select-button,
//.nb-theme-default .size-medium nb-option {
//  font-size: initial;
//}
//.nb-theme-default nb-option.success.selected,
//.nb-theme-default nb-option.success:hover {
//  color: #00d68f;
//}
//.nb-theme-default nb-option.success.selected { background-color: white; }
//.nb-theme-default nb-option-group, .nb-theme-default nb-option.success {
//  color: #222b45;
//}
//.cdk-global-scrollblock { // when select on it would move left
//  overflow-y: hidden;
//}
