/* ===================================================================
 *  Martel
 *
 * ------------------------------------------------------------------- */
  
@font-face {
    font-family: "martel-extraBold";
    /* loads local fonts if present */
    src: local('Martel-ExtraBold'),
         url('~assets/fonts/Martel/Martel-ExtraBold.woff2') format('woff2'),
         url('~assets/fonts/Martel/Martel-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* load only latin glyphs */
}

  
/* ===================================================================
*  Quicksand
*
* ------------------------------------------------------------------- */
  
@font-face {
    font-family: "quicksand-bold";
    /* loads local fonts if present */
    src: local('Quicksand-Bold'),
         url('~assets/fonts/Quicksand/Quicksand-Bold.woff2') format('woff2'),
         url('~assets/fonts/Quicksand/Quicksand-Bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* load only latin glyphs */
}
  
@font-face {
    font-family: "quicksand-light";
    /* loads local fonts if present */
    src: local('Quicksand-Light'),
         url('~assets/fonts/Quicksand/Quicksand-Light.woff2') format('woff2'),
         url('~assets/fonts/Quicksand/Quicksand-Light.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* load only latin glyphs */
}
  
@font-face {
    font-family: "quicksand-medium";
    /* loads local fonts if present */
    src: local('Quicksand-Medium'),
         url('~assets/fonts/Quicksand/Quicksand-Medium.woff2') format('woff2'),
         url('~assets/fonts/Quicksand/Quicksand-Medium.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* load only latin glyphs */
}

@font-face {
    font-family: "quicksand-regular";
    /* loads local fonts if present */
    src: local('Quicksand-Regular'),
         url('~assets/fonts/Quicksand/Quicksand-Regular.woff2') format('woff2'),
         url('~assets/fonts/Quicksand/Quicksand-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* load only latin glyphs */
}


/* ===================================================================
 *  NothingYouCouldDo
 *
 * ------------------------------------------------------------------- */

@font-face {
    font-family: "nycdo-regular";
    /* loads local fonts if present */
    src: local('NothingYouCouldDo-Regular'),
         url('../assets/fonts/NothingYouCouldDo/NothingYouCouldDo-Regular.woff2') format('woff2'),
         url('../assets/fonts/NothingYouCouldDo/NothingYouCouldDo-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* load only latin glyphs */
}


/* ===================================================================
 *  Solway
 *
 * ------------------------------------------------------------------- */

@font-face {
    font-family: "solway-regular";
    /* loads local fonts if present */
    src: local('Solway-Regular'),
         url('~assets/fonts/Solway/Solway-Regular.woff2') format('woff2'),
         url('~assets/fonts/Solway/Solway-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* load only latin glyphs */
}

@font-face {
    font-family: "solway-bold";
    /* loads local fonts if present */
    src: local('Solway-Bold'),
    url('~assets/fonts/Solway/Solway-Bold.woff2') format('woff2'),
    url('~assets/fonts/Solway/Solway-Bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* load only latin glyphs */
}
