/* ===================================================================
 *
 *   TOC:
 *    - Basic styles
 *    - Buttons
 *    - Scrollbar
 *    - Tooltips
 *    - Slick sliders
 *    - MapBox
 *    - Preloader
 *
 * =================================================================== */

@import 'fonts.css';
@import "~hamburgers/_sass/hamburgers/hamburgers";

@import "colors";
@import "shadows";
@import "mixins";
@import "nebular";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";



/* ===================================================================
 *  Basic styles
 *
 * ------------------------------------------------------------------- */

.font-cpr-medium { font-family: "cooper-medium", sans-serif; }
.font-qks-light { font-family: "quicksand-light", sans-serif; }
.font-qks-regular { font-family: "quicksand-regular", sans-serif; }
.font-qks-medium { font-family: "quicksand-medium", sans-serif; }
.font-qks-bold { font-family: "quicksand-bold", sans-serif; }
.font-nycd-regular { font-family: "nycdo-regular", sans-serif; }

.text-dark-black { color: $cf-text;}
.text-dark-header { color: $cf-dark; }
.text-dark-gray { color: $cf-darkGray; }
.text-gray { color: $cf-gray; }
.text-light-gray { color: $cf-lightGray; }
.text-orange { color: $cf-orange; }
.text-gradient {
  background: $cf-gradient-orange;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-red { color: $cf-red; }
.text-yellow { color: $cf-yellow; }
.text-green { color: $cf-green; }
.text-blue { color: $cf-blue; }
.text-pink { color: $cf-pink; }


html, body {
  scroll-behavior: smooth;
  height: 100%;
}

button:focus { outline: none; }

.cursor-hover:hover {
  cursor: pointer;
  opacity: .8;
}


h1, .h1,
h2, .h2,
h3, .h3 {
  color: $cf-dark;
  font-family: "cooper-medium", sans serif;
}

h1, .h1 {
  font-size: 2.8rem;
  line-height: 1.4em;
  @include media-breakpoint-down(md){ font-size: 2.3rem; line-height: initial; }
  @include media-breakpoint-down(sm){ font-size: 1.7rem; }
}

h2, .h2 {
  font-size: 2.5rem;
  @include media-breakpoint-down(md){ font-size: 2rem; line-height: initial; }
  @include media-breakpoint-down(sm){ font-size: 1.6rem; }
}

h3, .h3 {
  font-size: 2rem;
  line-height: 3rem;
  @include media-breakpoint-down(md){ font-size: 1.7rem; line-height: initial; }
  @include media-breakpoint-down(sm){ font-size: 1.4rem; }
}

h5, .h5 {
  color: $cf-darkGray;
  font-family: "quicksand-regular", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5em;
  @include media-breakpoint-down(md){ font-size: 1.1rem; line-height: initial; }
}


// rule to apply gradient in instagram icon
footer a:hover #ig svg *,
#section-cover a:hover #ig svg *,
.ig svg * { fill: url(#ig-gradient); }



/* ===================================================================
 *  Buttons
 *
 * ------------------------------------------------------------------- */

$height: 2.5rem;
$padding: 0 2rem;
$border-radius: 3rem;
$gradient: linear-gradient(131deg, #FFd340, #FF923C, #FF923C, #FF923C);

/* -------------------------------------------------------------------
 * btn-primary
/* ------------------------------------------------------------------- */

.btn.btn-primary,
button.btn-primary,
input[type="submit"].btn-primary,
input[type="reset"].btn-primary,
input[type="button"].btn-primary {
    font-family: quicksand-bold, sans-serif;
    height: $height;
    line-height: $height;
    padding: $padding;
    border: 0;
    border-radius: $border-radius;
    background-image: $gradient;
    background-size: 300% 100%;
    @include transition(all 0.3s ease-in-out);  
}

.btn.btn-primary:hover:enabled,
button.btn-primary:hover:enabled,
input[type="submit"].btn-primary:hover:enabled,
input[type="reset"].btn-primary:hover:enabled,
input[type="button"].btn-primary:hover:enabled,
.btn.btn-primary:focus:enabled,
button.btn-primary:focus:enabled,
input[type="submit"].btn-primary:focus:enabled,
input[type="reset"].btn-primary:focus:enabled,
input[type="button"].btn-primary:focus:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  @include media-breakpoint-up(lg) {
    @include transform(translateY(-0.15em));
  }
}


/* -------------------------------------------------------------------
 * btn-outline-primary
/* ------------------------------------------------------------------- */

.btn.btn-outline-primary,
button.btn-outline-primary {
  font-family: 'quicksand-bold', sans-serif;
  position: relative;
  width: 151px;
  height: 40px;
  line-height: 50px;
  background-color: transparent;
  color: transparent;
  border: none transparent;

  svg {
    position: absolute;
    top: 0;
    left: 0;

    rect {
      stroke-width: 2;
      stroke-dasharray: 180, 0;
      stroke-dashoffset: 0;
      @include transition(all 600ms ease);
    }
  }

  span {
    background: linear-gradient(to right,  #FFd340 -30%,#FF923C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.btn-outline-primary:hover,
button.btn-outline-primary:hover,

.btn-outline-primary:focus,
button.btn-outline-primary:focus,

.btn-outline-primary:active,
button.btn-outline-primary:active,

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle,

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  border: none transparent;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.btn.btn-outline-primary:hover svg rect,
button.btn-outline-primary:hover svg rect {
    stroke-width: 2;
    stroke-dasharray: 96, 543;
    stroke-dashoffset: 475;
}


/* -------------------------------------------------------------------
 * button.expansible
/* ------------------------------------------------------------------- */

button.expansible {
  position: relative;
  display: inline-block;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;

  width: 12rem;
  height: auto;

  .circle {
    @include transition(all 0.45s cubic-bezier(0.65,0,.076,1));
    position: relative;
    margin: 0;
    width: 2.3rem;
    height: 2.3rem;
    background: linear-gradient(131deg, rgba(255,211,64,1) 0%, rgba(255,159,60,1) 47%);
    border-radius: 1.625rem;

    .icon {
      @include transition(all 0.45s cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: white;

      &.arrow {
        @include transition(all 0.45s cubic-bezier(0.65,0,.076,1));
        left: 0.325rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;

        &::before {
          position: absolute;
          content: '';
          top: -0.25rem;
          right: 0.0625rem;
          width: 0.625rem;
          height: 0.625rem;
          border-top: 0.125rem solid #fff;
          border-right: 0.125rem solid #fff;
          transform: rotate(45deg);
        }
      }
    }
  }

  .button-text {
    @include transition(all 0.45s cubic-bezier(0.65,0,.076,1));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.35rem 0;
    color: $cf-dark;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
  }
}

button.expansible:hover {
  .circle {
    width: 85%;
    .icon {
      &.arrow {
        background: white;
        transform: translate(1rem, 0);
      }
    }
  }

  .button-text {
    color: white;
  }
}

button.expansible:focus {
  outline:none;
}



/* ===================================================================
 *  Scrollbar
 *
 * ------------------------------------------------------------------- */

$scrollbarColor: #BDBDBD;
$scrollbarWidth: 10px;

@include media-breakpoint-up(lg){
  body::-webkit-scrollbar {
    width: $scrollbarWidth;
    background-color: #F5F5F5;
  }

  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: $scrollbarWidth;
  }

  body::-webkit-scrollbar-thumb {
    border-radius: $scrollbarWidth;
    background-color: $scrollbarColor;
    //background-image: -webkit-gradient(linear,
    //        40% 0%,
    //        85% 84%,
    //        from(lighten(#ffd340, 3)),
    //        to(lighten(#ff9f3c, 3)),
    //        color-stop(.6,lighten(#ff9f3c, 3)));

    &:hover {
      background-color:darken($scrollbarColor, 10%);
      //background-image: -webkit-gradient(linear,
      //        40% 0%,
      //        85% 84%,
      //        from(#f6cc40),
      //        to(#f79d40),
      //        color-stop(.6,#e6ac3b));
    }
  }
}

.map-element-body::-webkit-scrollbar-button:end:increment {
  height: 3.5%;
}


/* ===================================================================
 *  Tooltips
 *
 * ------------------------------------------------------------------- */

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: $cf-dark;
  text-align: center;
  background-color: white;
  @include media-breakpoint-down(md) { display: none; }
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: white;
  @include media-breakpoint-down(md) { display: none; }
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  margin-top: -3px;
  content: "";
  border-width: 5px 5px 5px 0;
  border-right-color: white;
  @include media-breakpoint-down(md) { display: none; }
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 0 5px 5px;
  border-bottom-color: white;
  @include media-breakpoint-down(md) { display: none; }
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
  right: 0;
  margin-top: -3px;
  content: "";
  border-width: 5px 0 5px 5px;
  border-left-color: white;
  @include media-breakpoint-down(md) { display: none; }
}



/* ===================================================================
 *  Slick sliders
 *
 * ------------------------------------------------------------------- */

#section-gallery, #section-blog {
  .slide:focus { outline: none; }
  .prev-slide, .next-slide { background-repeat: no-repeat; }

  .nav-btn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
  }
}

#section-gallery {
  .nav-btn { top: 45% !important; }
  .prev-slide, .next-slide { opacity: .5; }
  .prev-slide:hover, .next-slide:hover { opacity: 1; }

  .prev-slide {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-left' class='svg-inline--fa fa-chevron-left fa-w-10' role='img' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'/%3E%3C/svg%3E") !important;
    left: 2%;
    z-index: 10;
  }

  .next-slide {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' class='svg-inline--fa fa-chevron-right fa-w-10' role='img' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3E%3C/svg%3E") !important;
    right: 0;
  }
}

#section-blog {
  .slick-track { padding: 1.5rem; }
  .nav-btn { top: 40% !important; }

  .prev-slide {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-left' class='svg-inline--fa fa-chevron-left fa-w-10' role='img' viewBox='0 0 320 512'%3E%3Cpath fill='silver' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'/%3E%3C/svg%3E") !important;
    left: -33px;
  }

  .next-slide {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' class='svg-inline--fa fa-chevron-right fa-w-10' role='img' viewBox='0 0 320 512'%3E%3Cpath fill='silver' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3E%3C/svg%3E") !important;
    right: -33px;
  }

  .prev-slide:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-left' class='svg-inline--fa fa-chevron-left fa-w-10' role='img' viewBox='0 0 320 512'%3E%3Cpath fill='%%232F373D' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'/%3E%3C/svg%3E") !important;
  }

  .next-slide:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' class='svg-inline--fa fa-chevron-right fa-w-10' role='img' viewBox='0 0 320 512'%3E%3Cpath fill='%%232F373D' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3E%3C/svg%3E") !important;
  }
}



/* ===================================================================
 *  MapBox
 *
 * ------------------------------------------------------------------- */

@import "https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css";

a.mapboxgl-ctrl-logo{
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  //right: 10px;
}



/* ===================================================================
 *  Preloader
 *
 * ------------------------------------------------------------------- */

.preloader {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.bubbles {
  width: 90px;
  height: 90px;
}

#yellow-top { animation: blink-float-right 2.5s ease-in-out infinite; }
#yellow-top { animation-delay: 600ms; }

#yellow-bottom { animation: blink-float-left 2.5s ease-in-out infinite; }
#yellow-bottom { animation-delay: 100ms; }

#blue-top { animation: float 3s ease-in-out infinite; }
#blue-top { animation-delay: 800ms; }

#blue-bottom { animation: float 3s ease-in-out infinite; }
#blue-bottom { animation-delay: 200ms; }

#green { animation: float2 3s ease-in-out infinite; }
#green { animation-delay: 100ms; }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translate(3px, -8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink-float-left {
  0% {
    opacity: .8;
    transform: translateY(0px);
  }
  25% {
    opacity: .5;
  }
  50% {
    opacity: .75;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes blink-float-right
{
  0% {
    opacity: .8;
    transform: translateY(0px);
  }
  25% {
    opacity: .5;
  }
  50% {
    opacity: .75;
    transform: translate(2px, -4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


