<nb-accordion class="accordion mt-4" id="credits-accordion">

    <nb-accordion-item *ngFor="let item of orderedItems">
        <nb-accordion-item-header *ngIf="item[0] | translate">{{item[0] | translate}}</nb-accordion-item-header>
        <nb-accordion-item-header *ngIf="!(item[0] | translate)">{{item[0]}}</nb-accordion-item-header>
        <nb-accordion-item-body>
            <app-credits-item *ngFor="let info of item[1]"
                [imgSrc]="info.img"
                [by]="info.by"
                [byUrl]="info.byUrl"
                [from]="info.from"
                [fromUrl]="info.fromUrl"></app-credits-item>
        </nb-accordion-item-body>
    </nb-accordion-item>

</nb-accordion>
