@import "~styles/colors";
@import "~styles/mixins";

.card {
  border: none;
  @include border-radius(1rem);

  .card-img-top {
    height: 13rem;
    object-fit: cover;
  }

  .card-subtitle {
    font-size: 0.8rem;

    &::after {
      content: attr(date);
      font-family: "quicksand-light", sans-serif;
      font-size: 0.8rem;
      color: $cf-gray;
      text-transform: none;
    }
  }

  .engagement {
    font-size: 0.8rem;
  }
}
