<div class="card shadow" style="width: 18rem;">
    <img src="{{photoSrc}}" class="card-img-top" alt="Blog post image">
    <div class="card-body">
        <h6 class="card-subtitle font-qks-bold text-uppercase text-orange mb-2"
            attr.date=" | {{ date | date:'dd/MM/yyy' }}">
            {{topic}}
        </h6>
        <h5 class="card-title font-qks-bold">{{title}}</h5>
        <span class="engagement font-qks-regular mr-2">
            <fa-icon [icon]="faComments" id="comments" class=" text-gray"></fa-icon>
            {{nrComments}} {{'homepage.blog.comments' | translate}}
        </span>
        <span class="engagement font-qks-regular">
            <fa-icon [icon]="faHeart" id="likes" class="text-red"></fa-icon>
            {{nrLikes}} {{'homepage.blog.likes' | translate}}
        </span>
        <button class="expansible mt-4">
            <div class="circle">
                <span class="icon arrow"></span>
            </div>
            <p class="button-text font-qks-regular">{{'homepage.blog.read' | translate}}</p>
        </button>
    </div>
</div>
