@import "~styles/colors";


.card {
  border: none;
  border-radius: 1rem;

  .card-img-top {
    height: 13rem;
    //object-fit: cover; //FIXME make imgs fit
  }

  .card-subtitle {
    font-size: 0.9rem;

    &::after {
      content: attr(date);
      font-family: 'quicksand-light', sans-serif;
      font-size: .8rem;
      color: $cf-gray;
      text-transform: none;
    }
  }

  .engagement { font-size: 0.8rem; }
}
