@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.side-image {
  width: 50vw;
  height: 100vh;
  background-image: url("~assets/images/coming-soon/side-img.jpg");
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;

  p {
    font-family: quicksand-medium, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
  }
}

.countdown {
  position: relative;
  top: 20%;

  .countdown-number,
  .countdown-text {
    font-family: quicksand-bold, sans-serif;
    color: $cf-purple;
  }

  .countdown-number {
    font-size: 4rem;
  }
}

.right-side {
  width: 50vw;
  height: 100vh;
  padding-top: 4rem !important;

  .logo {
    width: 15rem;
  }

  .p1, .p3 {
    font-family: quicksand-regular, sans-serif;
  }
  .p1, .p2 {
    color: $cf-darkGray
  }
  .p1 {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    margin-top: 8rem;
  }
  .p2 {
    font-family: solway-bold, sans-serif;
    font-size: 3.3rem;
    letter-spacing: .2rem;
  }
  .p3 {
    color: $cf-gray;
    letter-spacing: .1rem;
  }
}

.subscribeForm {
  width: 70%;
}

.social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: $cf-lightGray;
  border-radius: 100%;
  line-height: 3rem;
  color: $cf-darkGray;
  @include transition(all 0.2s ease-in-out);

  @include media-breakpoint-up(lg){
    &:hover {
      #fb { color: $facebook; }
      #tt { color: $twitter; }
      #ig { color: $instagram; }
      #yt { color: $youtube; }
      @include transform(translateY(-0.5rem));
    }
  }
}

.email {
  font-family: quicksand-regular, sans-serif;
  letter-spacing: .1rem;
}

.mobile {
  .side-image {
    width: 100vw;
    height: 75vh;
  }

  .countdown {
    top: 5%;
    @include media-breakpoint-only(md) {
      top: 10%;
    }
    .countdown-div {
      width: 70%;
    }
    .countdown-number {
      font-size: 2.9rem;
    }
  }

  .right-side {
    width: 100vw;
    height: auto;
    .logo {
      width: 13rem;
    }
    .p1 {
      font-size: 1.1rem;
      margin-top: 0;
    }
    .p2 {
      font-size: 2rem;
    }
  }

  .subscribeForm {
    @include media-breakpoint-down(md) {
      width: 80%;
    }
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }

  .email {
    font-size: .8rem;
  }
}
