@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


#section-coming-soon {
  height: 100vh;
  width: 100vw;
  background: $cf-gradient-orange;

  .wrapper {
    height: calc(100vh - 6rem);
    width: calc(100vw - 6rem);
    @include media-breakpoint-down(md) {
      height: calc(100vh - 4rem);
      width: calc(100vw - 4rem);
    }
    @include media-breakpoint-down(sm) {
      height: calc(100vh - 3rem);
      width: calc(100vw - 3rem);
    }

    background-color: white;
    border-radius: 1rem;

    // center vertically & horizontally
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    .contents {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 35vw;
      padding-left: 5rem;

      @include media-breakpoint-down(sm) {
        left: 0;
        transform: translate(-50%, -50%);
        padding-left: 0;
      }
    }
  }
}

.paint {
  position: absolute;
  top: -.1rem;
  right: -.6rem;
  width: 50vw;
  @include media-breakpoint-down(md) {
    right: -.5rem;
    width: 70vw;
  }
  z-index: 15;
}

.title {
  font-size: 2.7rem;
  letter-spacing: 0.05em;
}

.social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: $cf-lightGray;
  border-radius: 100%;
  line-height: 3rem;
  color: $cf-darkGray;
  @include transition(all 0.2s ease-in-out);

  @include media-breakpoint-up(lg){
    &:hover {
      #fb { color: $facebook; }
      #tt { color: $twitter; }
      #ig { color: $instagram; }
      #yt { color: $youtube; }
      @include transform(translateY(-0.5rem));
    }
  }
}

.email {
  font-family: quicksand-regular, sans-serif;
  font-size: .9rem;
  letter-spacing: .1rem;

  a:hover { color: $cf-orange; }
}
