<section id="section-coming-soon">
    <div class="wrapper shadow-sm py-5 py-xl-0">

        <img class="paint" src="assets/images/coming-soon/paint.svg" alt="paint">

        <div class="contents d-flex flex-column align-items-center">
            <p class="title text-dark-header font-qks-bold text-center text-uppercase">
                <span class="text-gradient">Under<br></span>construction</p>

            <p class="font-qks-regular text-gray text-center mt-5">Não percas o lançamento! Subscreve já e recebe um e-mail quando estiver disponível.</p>
            <app-newsletter-subscribe class="w-100"></app-newsletter-subscribe>

            <div class="social d-flex justify-content-center justify-content-lg-start mt-5">
                <a href="#" class="mx-2"><fa-icon [icon]="faFacebookF" id="fb" class="fa-lg"></fa-icon></a>
                <a href="#" class="mx-2"><fa-icon [icon]="faTwitter" id="tt" class="fa-lg"></fa-icon></a>
                <a href="#" class="mx-2"><fa-icon [icon]="faInstagram" id="ig" class="fa-lg"></fa-icon></a>
                <a href="#" class="mx-2"><fa-icon [icon]="faYoutube" id="yt" class="fa-lg"></fa-icon></a>
            </div>
            <p class="email text-gray text-center mt-4"><b>O nosso e-mail: </b>
                <a class="text-dark-gray" href="mailto:contacto@cyclingfizz.pt">contacto@cyclingfizz.pt</a></p>
        </div>

    </div>
</section>
