@import "~styles/colors";
@import "~styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


#section-features {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  margin-top: 5rem;
  display: table;
  position: relative;

  #background {
    background: url(../../../assets/images/homepage/features/ilustrations/girl.svg) no-repeat center left;
    background-size: contain;
    width: 32vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
  }
}


/* ===================================================================
 *  Responsive
 *
 * ------------------------------------------------------------------- */

@include  media-breakpoint-down(md) { // phones & tablets
  #section-features {
    margin: 0;

    h3 {
      text-align: center;
    }

    #background {
      background: url(../../../assets/images/homepage/features/ilustrations/girl.svg) no-repeat center left;
      background-size: contain;
      width: 60vw;
      height: 75vw;
      position: relative;
    }
  }
}


