<section id="intro">

  <!-- Intro content -->
  <div class="intro-content">
      <div class="row">

        <div id="intro-div" class="col-10 offset-1">
          <h1>O Ponto <br class="d-none d-lg-block">De Encontro <br class="d-sm-none d-block"> Do <br class="d-none d-lg-block">Ciclismo</h1>
          <h5>Descobre o nosso mapa com todas as informações relevantes ao ciclista, e explora as restantes secções!</h5>
          <div id="intro-btns" class="row pl-lg-3 pt-4 align-items-center">
            <a href="#" class="btn btn-primary" routerLink="/map">Ver mapa</a>
            <a href="https://www.youtube.com/watch?v=pBFQdxA-apI" class="video-popup">
              <div class="btn-video mr-2"><img src="../../../assets/images/homepage/intro/icons/play-button.svg" alt=""></div> Intro Vídeo
            </a>
          </div>
        </div>

      </div>
  </div>
        
  <!-- Side navigation -->
  <div class="side-container">
  
    <!-- social list -->
    <ul class="social-list">
        <li> <a href="#"><fa-icon [icon]="faFacebookF" id="fb"></fa-icon></a> </li>
        <li> <a href="#"><fa-icon [icon]="faTwitter" id="tt"></fa-icon></a> </li>
        <li> <a href="#"><fa-icon [icon]="faInstagram" id="ig"></fa-icon></a> </li>
        <li> <a href="#"><fa-icon [icon]="faYoutube" id="yt"></fa-icon></a> </li>
    </ul>

    <!-- scrolldown -->
    <div class="scrolldown">
        <a href="#features" class="scroll-icon smoothscroll" (click)="smoothScroll($event)">
            <span>Scroll Down</span>
            <fa-icon [icon]=" faArrowRight" class="pl-2 fa-lg"></fa-icon>
        </a>
    </div>
  </div>
      
  <!-- Jumping balls -->
  <div class="jumping-balls">
    <div class="ball-1 jumping-animation"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
    <div class="ball-2 jumping-animation2"><img src="../../../assets/images/homepage/green-ball.png"></div>
    <div class="ball-3 jumping-animation2"><img src="../../../assets/images/homepage/green-ball.png"></div>
    <div class="ball-4 jumping-animation3"><img src="../../../assets/images/homepage/blue-ball.png"></div>
    <div class="ball-5 jumping-animation4"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
  </div>
      
</section>      
