/* =================================================================== 
 *
 *  Cycling Fizz v1.0 Intro Stylesheet
 *  27-05-2019 #FIXME
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. colors
 *  02. mixins
 *  03. intro & intro-content
 *  04. social-list
 *  05. scrolldown
 *  06. jumping balls
 *
 * =================================================================== */


/* ===================================================================
 *  01. colors
 *
 * ------------------------------------------------------------------- */

/** general **/
$orange: #FF9F3C;
$header: #2F373D;
$green: #32BE8E;
$darkBlue: #008C97;
$darkGray: #57565C;

/** social-list **/
$facebook: #3b68c6;
$instagram: #ce2f89;
$twitter: #0cbbff;
$youtube: #e5241d;


/* ===================================================================
 *  02. mixins
 *
 * ------------------------------------------------------------------- */
 
 @import "../../../../node_modules/bootstrap/scss/functions";
 @import "../../../../node_modules/bootstrap/scss/variables";
 @import "../../../../node_modules/bootstrap/scss/mixins";
  
 @mixin transition($property) {
     -moz-transition: $property;
     -o-transition: $property;
     -webkit-transition: $property;
     -ms-transition: $property;
     transition: $property;
 }
 
 @mixin transform($property) {
     -moz-transform: $property;
     -o-transform: $property;
     -webkit-transform: $property;
     -ms-transform: $property;
     transform: $property;
 }


/* ===================================================================
 *  03. intro & intro-content
 *
 * ------------------------------------------------------------------- */

#intro {
    background: url(../../../assets/images/hero.svg) no-repeat top right;
    background-size: 50%;
    width: 100vw;
    height: 100vh;
    min-height: 750px;
    display: table;
    position: relative;
}
.intro-content {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
  @include transform(translateY(-1.2rem));

  h1 {
    color: #2F373D;
    font-family: "martel-extraBold", serif;
    font-size: 2.8rem;
    text-align: left;
    line-height: 1.4em;
  }

  h5 {
    color: #57565C;
    font-family: "quicksand-light", sans-serif;
    font-size: 1.4rem;
    max-width: 650px;
    line-height: 1.8;
    text-align: left;
    margin-top: 15px;
  }

  .btn.btn-primary {
    display: table;
    box-shadow: 0px 4px 15px rgba(255, 195, 64, 0.46);
  }

  .video-popup {
    z-index: 99 !important;
    color: #57565C;
    font-family: 'quicksand-medium';
    font-size: 17px;
    display: table;
    font-weight: 500;
    position: relative;
    left: 10%;
    text-decoration: none;

    .btn-video {
      text-align: center;
      height: 3rem;
      width: 3rem;
      box-shadow: 0px 2px 13px 0px #a5a5a57a;
      border-radius: 100%;
      line-height: 3rem;
      color: #57565C;
      display: inline-block;
      @include transition(all 0.2s ease-in-out);

      fa-icon { color: $orange; }

      &:hover { @include transform(translateY(-0.25rem)); }
    }

    &:hover { color: $orange; }
  }
}


/* ===================================================================
 *  04. social-list
 *
 * ------------------------------------------------------------------- */

.social-list {
    position: absolute;
    right: 2%;
    top: 32%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2.2rem;
    line-height: 2.1rem;
    text-align: center;

    li {
      padding-left: 0;

      fa-icon {
        font-size: 1.4rem;
      }

      a {
        color: #FFFFFF;

        &:hover {
          #fb { color: $facebook; }
          #tt { color: $twitter; }
          #ig { color: $instagram; }
          #yt { color: $youtube; }
        }
      }
    }
  }
  .social-list::before {
    display: block;
    content: "";
    width: 2px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.43);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }

  /**
 * RESPONSIVE:
 * social-list
 * -
 */

@media only screen and (max-width:1024px) {
  .social-list {
    top: 40%;
    font-size: 2.1rem;

    i {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width:768px) {
  .social-list {
    display: none;
  }
}
  
  
 /* ===================================================================
 *  05. scrolldown
 *
 * ------------------------------------------------------------------- */
  
  .scrolldown {
    position: absolute;
    top: 87%;
    right: 1.9%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    float: right;

    i {
      padding-left: 9px;
    }

    a:hover,
    a:focus {
      color: $darkBlue !important;
    }
  }
  .scroll-icon {
    display: inline-block;
    font-family: "quicksand-medium", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.3rem;
    color: #FFFFFF !important;
    background: transparent;
    -webkit-animation: animate-it 3s ease infinite;
    animation: animate-it 3s ease infinite;

    i {
      font-size: 1.5rem;
      position: relative;
      left: 5px;
      bottom: -5px;
      transform: rotate(-90deg);
    }
  }
  
  /**
   * vertical animation
   * -
   */
  
  @-webkit-keyframes animate-it {
    0%,
    60%,
    80%,
    100% {
      -webkit-transform: translateX(0);
    }
    0%,
    60%,
    80%,
    100% {
      transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-5px);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      -webkit-transform: translateX(20px);
    }
    40% {
      transform: translateX(20px);
    }
  }
  
  @keyframes animate-it {
    0%,
    60%,
    80%,
    100% {
      -webkit-transform: translateX(0);
    }
    0%,
    60%,
    80%,
    100% {
      transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-5px);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      -webkit-transform: translateX(20px);
    }
    40% {
      transform: translateX(20px);
    }
  }

/**
 * RESPONSIVE:
 * scrolldown
 * -
 */

@media only screen and (max-width:1024px) {
  .scrolldown {
    top: 75%;
  }
}

@media only screen and (max-width:768px) {
  .scrolldown {
    display: none;
  }
}


/* ===================================================================
 *  06. jumping balls
 *
 * ------------------------------------------------------------------- */

  .jumping-animation {
    backface-visibility: hidden;
    animation: jumping 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all .9s ease 5s;
    user-select: none;
  }
  .jumping-animation2 {
    backface-visibility: hidden;
    animation: jumping2 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 1s ease 3s;
    user-select: none;
  }
  .jumping-animation3 {
    backface-visibility: hidden;
    animation: jumping3 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 7s ease 2s;
    user-select: none;
  }
  .jumping-animation4 {
    backface-visibility: hidden;
    animation: jumping4 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 8s ease 4s;
    user-select: none;
  }
  .jumping-animation10 {
    backface-visibility: hidden;
    animation: jumping10 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 8s ease 4s;
    user-select: none;
  }
  .jumping-animation11 {
    backface-visibility: hidden;
    animation: jumping11 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 8s ease 4s;
    user-select: none;
  }
  
  @keyframes jumping {
    0% {
      transform: translateY(0px) translateX(0) rotate(0) scale(1);
      opacity: .8;
    }
    25% {
      transform: translateY(-10px) translateX(-10px) rotate(20deg) scale(0.8);
      opacity: .9;
    }
    50% {
      transform: translateY(-15px) translateX(-15px) rotate(10deg) scale(0.9);
      opacity: .8;
    }
    75% {
      transform: translateY(-20px) translateX(-20px) rotate(20deg) scale(0.75);
      opacity: .6;
    }
    85% {
      transform: translateY(-25px) translateX(-25px) rotate(20deg) scale(0.9);
      opacity: .7;
    }
    100% {
      transform: translateY(-15px) translateX(-15px) rotate(0) scale(0.95);
      opacity: .85;
    }
  }
  
  @keyframes jumping2 {
    0% {
      transform: translateY(0px) translateX(0) rotate(0) scale(1);
      opacity: .5;
    }
    25% {
      transform: translateY(-30px) translateX(10px) rotate(20deg) scale(0.8);
      opacity: .8;
    }
    50% {
      transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.7);
      opacity: .8;
    }
    75% {
      transform: translateY(30px) translateX(20px) rotate(20deg) scale(0.75);
      opacity: .7;
    }
    100% {
      transform: translateY(-15px) translateX(15px) rotate(0) scale(0.75);
      opacity: .9;
    }
  }
  
  @keyframes jumping3 {
    0% {
      transform: translateY(10px) translateX(0) rotate(0) scale(1);
      opacity: .9;
    }
    20% {
      transform: translateY(20px) translateX(10px) rotate(-20deg) scale(0.8);
      opacity: .8;
    }
    40% {
      transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.75);
      opacity: .8;
    }
    40% {
      transform: translateY(-15px) translateX(-25px) rotate(10deg) scale(0.5);
      opacity: 1;
    }
    80% {
      transform: translateY(-30px) translateX(20px) rotate(-20deg) scale(0.75);
      opacity: .6;
    }
    100% {
      transform: translateY(15px) translateX(15px) rotate(0) scale(0.95);
      opacity: .7;
    }
  }
  
  @keyframes jumping4 {
    0% {
      transform: translateY(-30px) translateX(20px) rotate(0) scale(1.2);
      opacity: .7;
    }
    25% {
      transform: translateY(-20px) translateX(10px) rotate(50deg) scale(0.6);
      opacity: .8;
    }
    50% {
      transform: translateY(15px) translateX(-15px) rotate(20deg) scale(0.5);
      opacity: .9;
    }
    75% {
      transform: translateY(30px) translateX(20px) rotate(50deg) scale(0.75);
      opacity: .7;
    }
    100% {
      transform: translateY(-15px) translateX(15px) rotate(0) scale(0.5);
      opacity: .9;
    }
  }
  
  @keyframes jumping10 {
    0% {
      transform: rotate(180deg);
      display: block;
    }
    100% {
      transform: rotate(30deg);
      display: block;
    }
  }
  
  @keyframes jumping11 {
    0% {
      transform: rotate(180deg) translate(-20px, 20px);
      display: block;
    }
    100% {
      transform: rotate(30deg) translate(0px, 0px);
      display: block;
    }
  }
  
  .ball-1 {
    position: absolute;
    left: 5%;
    bottom: 75%;
  }
  .ball-2 {
    position: absolute;
    left: 43%;
    bottom: 67%;
  }
  .ball-3 {
    position: absolute;
    bottom: 13%;
    left: 17%;
  }
  .ball-4 {
    position: absolute;
    bottom: 18%;
    left: 40%;
  }
  .ball-5 {
    position: absolute;
    bottom: 11%;
    left: 35%;
  }

  /**
 * RESPONSIVE:
 * jumping-balls
 * -
 */

@include  media-breakpoint-down(sm) {
  .ball-1 { //done
    left: 80%;
    top: 48%;
  }

  .ball-2 {
    bottom: 9%;
    left: 10%;
  }

  .ball-3 {
    bottom: 13%;
    left: 80%;
  }

  .ball-4 { //done
    bottom: 38%;
    left: 10%;
  }

  .ball-5 {
    bottom: 5%;
    left: 63%;
  }
}

/* ===================================================================
 *  07. Responsive
 *
 * ------------------------------------------------------------------- */


@include  media-breakpoint-down(sm) {

  #intro {
    background-size: 650px;
    background-position: 100% 0;
  }
  .intro-content {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);

    h1 {
      font-size: 1.8rem;
      max-width: 700px;
      text-align: center;
    }

    h5 {
      font-size: 1.2rem;
      max-width: 450px;
      text-align: center;
    }

  }

  #intro-btns {
    margin-bottom: 15rem;
  }


  #intro-div {
    margin-top: 75vh;
  }

}
