<div class="map-cards p-2">
    <div class="card-row">
        <div class="card-col">
            <nb-card style="height: 8rem">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/type.svg" class="mr-2">
                    Tipologia
                    <fa-icon [icon]="faInfoCircle" nbPopover="{{ typePopover }}" class="info ml-2"></fa-icon>
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ type.type }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <nb-select [selected]="type.id" status="success">
                        <nb-option *ngFor="let type of types" value="{{ type.id }}" class="success">{{ type.type }}</nb-option>
                    </nb-select>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="card-col">
            <nb-card style="height: 8rem">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/incline.svg" class="mr-2">
                    Declive
                    <fa-icon [icon]="faInfoCircle" nbPopover="{{ floorPopover }}" class="info ml-2"></fa-icon>
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ floor.floor }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <nb-select [selected]="type.id" status="success">
                        <nb-option *ngFor="let floor of floors" value="{{ floor.id }}" class="success">{{ floor.floor }}</nb-option>
                    </nb-select>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <div class="card-row">
        <div class="card-col">
            <nb-card>
                <nb-card-body style="overflow: hidden">
                    <app-map-cards-checkbox *ngFor="let info of other_info"
                                            [icon]="info.icon"
                                            [label]="info.label"
                                            [checked]="info.checked"
                                            [disabled]="!editMode"
                                            [status]="editMode ? 'success' : ''"
                                            [popover]="info.popover">
                    </app-map-cards-checkbox>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="card-col">
            <nb-card class="notes">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/notes.svg" class="mr-2">
                    Notas
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ notes }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <textarea nbInput fullWidth status="success" style="height: 8rem" value="{{ notes }}"></textarea>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>

