<div class="map-cards p-2">
    <div class="card-row">
        <div class="card-col">
            <nb-card style="height: 8rem">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/type.svg" class="mr-3">
                    Tipologia
                </nb-card-header>
                <nb-card-body>{{ type }}</nb-card-body>
            </nb-card>
        </div>
        <div class="card-col">
            <nb-card style="height: 8rem">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/floor.svg" class="mr-3">
                    Estado do piso
                </nb-card-header>
                <nb-card-body>{{ floor }}</nb-card-body>
            </nb-card>
        </div>
    </div>

    <div class="card-row">
        <div class="card-col">
            <nb-card>
                <nb-card-body style="overflow: hidden">
                    <app-map-cards-checkbox *ngFor="let info of other_info"
                                            [icon]="info.icon"
                                            [label]="info.label"
                                            [checked]="info.checked">
                    </app-map-cards-checkbox>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="card-col">
            <nb-card style="min-height: 14rem;">
                <nb-card-header>
                    <img src="../../../../../assets/images/map/icons/map-element/notes.svg" class="mr-3">
                    Notas
                </nb-card-header>
                <nb-card-body>{{ notes }}</nb-card-body>
            </nb-card>
        </div>
    </div>
</div>

