<section id="blog" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="text-center">Visita o nosso <span>blog</span>!</h1>
    <p class="text-center mb-5">Não percas os nossos artigos sobre ciclismo e outros assuntos relevantes <br class="d-none d-sm-block">como mobilidade, a vida urbana e muito mais.</p>

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <!-- wrapper for cards -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-deck justify-content-center">
                    <app-b-card
                            [photoSrc]="'../../../assets/images/homepage/blog/photos/blog1.jpg'"
                            [topic]="'Ciclismo'"
                            [date]="'05/21/2019'"
                            [title]="'Lorem ipsum dolor sit amet consectetuer'"
                            class="mb-lg-none mb-5">
                    </app-b-card>
                    <app-b-card
                            [photoSrc]="'../../../assets/images/homepage/blog/photos/blog2.jpg'"
                            [topic]="'Mobilidade'"
                            [date]="'12/27/2019'"
                            [title]="'Lorem ipsum dolor sit amet consectetuer'"
                            class="mb-lg-none mb-5">
                    </app-b-card>
                    <app-b-card
                            [photoSrc]="'../../../assets/images/homepage/blog/photos/blog3.jpg'"
                            [topic]="'Vida urbana'"
                            [date]="'11/30/2019'"
                            [title]="'Lorem ipsum dolor sit amet consectetuer'"
                            class="mb-lg-none mb-4">
                    </app-b-card>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-deck justify-content-center">
                    <app-b-card
                            [photoSrc]="'../../../assets/images/homepage/blog/photos/blog4.jpg'"
                            [topic]="'Ciclismo'"
                            [date]="'05/21/2019'"
                            [title]="'Lorem ipsum dolor sit amet consectetuer'"
                            class="mb-lg-none mb-5">
                    </app-b-card>
                    <app-b-card
                            [photoSrc]="'../../../assets/images/homepage/blog/photos/blog5.jpg'"
                            [topic]="'Mobilidade'"
                            [date]="'12/27/2019'"
                            [title]="'Lorem ipsum dolor sit amet consectetuer'"
                            class="mb-lg-none mb-5">
                    </app-b-card>
                    <app-b-card
                            [photoSrc]="'../../../assets/images/homepage/blog/photos/blog6.jpg'"
                            [topic]="'Vida urbana'"
                            [date]="'11/30/2019'"
                            [title]="'Lorem ipsum dolor sit amet consectetuer'"
                            class="mb-lg-none mb-4">
                    </app-b-card>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-deck justify-content-center">
                    <app-b-card
                            [photoSrc]="'../../../assets/images/homepage/blog/photos/blog7.jpg'"
                            [topic]="'Ciclismo'"
                            [date]="'05/21/2019'"
                            [title]="'Lorem ipsum dolor sit amet consectetuer'"
                            class="mb-lg-none mb-5">
                    </app-b-card>
                    <app-b-card
                            [photoSrc]="'../../../assets/images/homepage/blog/photos/blog8.jpg'"
                            [topic]="'Mobilidade'"
                            [date]="'12/27/2019'"
                            [title]="'Lorem ipsum dolor sit amet consectetuer'"
                            class="mb-lg-none mb-5">
                    </app-b-card>
                    <app-b-card
                            [photoSrc]="'../../../assets/images/homepage/blog/photos/blog9.jpg'"
                            [topic]="'Vida urbana'"
                            [date]="'11/30/2019'"
                            [title]="'Lorem ipsum dolor sit amet consectetuer'"
                            class="mb-lg-none mb-4">
                    </app-b-card>
                </div>
            </div>
        </div>

        <!-- left & right controls -->
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <span class="see-more d-flex justify-content-center justify-content-lg-start" >
        <a href="">Ver mais <fa-icon [icon]="faArrowRight" class="ml-1"></fa-icon></a>
    </span>

    <!-- Jumping balls -->
    <div class="jumping-balls">
        <div class="ball-1 jumping-animation"><img src="../../../assets/images/homepage/green-ball.png"></div>
        <div class="ball-2 jumping-animation2"><img src="../../../assets/images/homepage/blue-ball.png"></div>
        <div class="ball-3 yellow-ball jumping-animation4"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
        <div class="ball-4 jumping-animation3"><img src="../../../assets/images/homepage/blue-ball.png"></div>
        <div class="ball-5 yellow-ball jumping-animation4"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
        <div class="ball-6 yellow-ball jumping-animation2"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
    </div>

    <div id="background"></div>
</section>
