@import "~styles/colors";
@import "~styles/mixins";
@import "~styles/shadows";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#banner-image {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &:after {
    content: "";
    height: 6px;
    @include media-breakpoint-down(sm) {
      height: 5px;
    }
    background: $cf-gradient-orange;
    box-shadow: $cf-shadow-orange;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.banner-text {
  color: $cf-lightGray;
  position: relative;
  top: 30%;

  h1:after {
    content: " ";
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: $cf-gradient-orange;
    height: 3.85px;
    width: 4.5rem;
    @include border-radius(1rem);
    position: relative;
    bottom: -0.3rem;
    @include media-breakpoint-down(md) {
      width: 4rem;
    }
    @include media-breakpoint-down(sm) {
      width: 3rem;
    }
  }

  p {
    font-family: quicksand-light, sans-serif;
    font-size: 1.1rem;
    @include media-breakpoint-up(lg) {
      width: 50rem;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
