@import "~styles/_colors";
@import "~styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


#banner-image {
  height: 16rem;
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: cover;
  position: relative;
}

.banner-text {
  color: $lightGray;
  position: relative;
  top: 20%;

  h1:after {
    content: " ";
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: $gradient-orange;
    height: 3.85px;
    width: 4.5rem;
    border-radius: 1rem;
    @include media-breakpoint-down(md) { width: 4rem; }
    @include media-breakpoint-down(sm) { width: 3rem; }
  }

  p {
    font-family: quicksand-light, sans-serif;
    @include media-breakpoint-up(lg) {
      width: 50rem;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
