<div class="section-gallery">
    <div class="d-flex justify-content-center justify-content-lg-start align-items-center mb-3 pt-4">
        <span class="section-title font-qks-bold text-dark-header mr-2">Galeria</span>
        <app-badge-text [badgeType]="'primary'" [badgeText]="photos.length.toString()" ></app-badge-text>
    </div>

    <div class="gallery">
        <ngx-slick-carousel class="carousel"
                            id="slider"
                            [config]="slideConfig"
                            #slickModal='slick-carousel'>
            <div ngxSlickItem *ngFor="let photo of photos" class="slide">
                <nb-user class="map-gallery-user d-none d-sm-block gradient text-white" name="{{ photo.user.name }}" picture="{{ photo.user.avatar }}"></nb-user>
                <img class="main-img" src="{{ photo.img }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>

        <ngx-slick-carousel class="carousel d-none d-lg-block"
                            id="slider-nav"
                            [config]="slideConfigNav"
                            #slickModal='slick-carousel'>
            <div ngxSlickItem *ngFor="let photo of photos" class="slide">
                <img class="nav-img"src="{{ photo.img }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>
    </div>

    <div class="upload-btn-wrapper float-right mt-3">
        <button class="btn btn-primary btn-block"><fa-icon [icon]="faUpload" class="mr-2"></fa-icon>Upload</button>
        <input type="file" name="myfile" />
    </div>
</div>
