<!-- /* ===================================================================
      *
      *  Vendor content by: Valery Alikin
      *  URL: https://codepen.io/AlikinVV/pen/JORbvO
      *
      * =================================================================== */ -->

<div class="action-button bottom-right triangle">
    <p class="ab-link" (click)="toggleFloatingBtn()">+</p>
    <ul class="action-list">
        <li><img src="../../../assets/images/map/icons/store.svg" alt="" aria-hidden="true"></li>
        <li><img src="../../../assets/images/map/icons/parking.svg" alt="" aria-hidden="true"></li>
        <li><img src="../../../assets/images/map/icons/bikelane.svg" alt="" aria-hidden="true"></li>
    </ul>
</div>
