@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


#sign-in.modal {
  font-family: 'quicksand-regular', sans-serif;

  .modal-content {
    border: none;
    border-radius: 1rem;
    height: 45rem;

    @include media-breakpoint-down(lg) {
      height: 50rem;
    }
  }
}

.modal-popout-bg {
  @include media-breakpoint-up(lg) {
    background: white url(../../../../assets/images/navbar/modal/ilustrations/green-girl.svg) no-repeat top left;
    background-size: auto 100%;
    background-position-x: -20%;
  }

  @include media-breakpoint-down(lg) {
    background-image: url(../../../../assets/images/navbar/modal/ilustrations/green-girl-mobile.svg);
    background-size: auto 150%;
    background-position-y: 40%;
    background-position-x: 40%;
  }

  @include media-breakpoint-down(md) {
    background-size: auto 130%;
    background-position-x: 58%;
  }

  @include media-breakpoint-down(sm) {
    background-position-x: 63%;
  }
}
