<div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-popout-bg align-middle">

            <!-- body -->
            <app-modal-login
                    *ngIf="isCurrentModal(Modals.Login)"
                    (changeCurrentModal)="setCurrentModal($event)"
            ></app-modal-login>
            <app-modal-register
                    *ngIf="isCurrentModal(Modals.Register)"
                    (changeCurrentModal)="setCurrentModal($event)"
            ></app-modal-register>
            <app-modal-complete-registration
                    *ngIf="isCurrentModal(Modals.CompleteRegister)"
                    (changeCurrentModal)="setCurrentModal($event)"
            ></app-modal-complete-registration>

        </div>
    </div>
</div>
