<div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-popout-bg align-middle">

            <!-- body -->
            <app-modal-login
                    *ngIf="isCurrentModal(Modals.Login)"
                    (changeCurrentModal)="setCurrentModal($event)"
            ></app-modal-login>
            <app-modal-register
                    *ngIf="isCurrentModal(Modals.Register)"
                    (changeCurrentModal)="setCurrentModal($event)"
            ></app-modal-register>
            <app-modal-complete-registration
                    *ngIf="isCurrentModal(Modals.CompleteRegister)"
                    (changeCurrentModal)="setCurrentModal($event)"
            ></app-modal-complete-registration>

        </div>
    </div>
</div>


<!-- ===================================================================
 *
 *  Verify E-mail Modal // FIXME: change to dialog
 *
 * =================================================================== -->
<div class="modal fade" id="verifyEmailModal" tabindex="-1" role="dialog" aria-labelledby="verifyEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog dark-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title dialog-title" id="verifyEmailModalLabel">⚠ Verificar e-mail</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="mx-auto mb-4 d-block" style="height: 5rem;" src="../../../../assets/images/navbar/modal/email.svg" alt="">
                <p class="dialog-text">Ups... Parece que ainda não verificaste o teu e-mail.</p>
                <p class="dialog-text">Para poderes usar a tua conta do Cycling Fizz tens que verificar o teu e-mail!</p>
                <p class="dialog-text">Procura na tua caixa de correio o e-mail de verificação ou clica em baixo para te enviarmos um novo.</p>
            </div>
            <div class="modal-footer">
                <button nbButton hero status="danger" data-dismiss="modal">Ignorar</button>
                <button nbButton hero status="warning" data-dismiss="modal">Enviar novo e-mail</button>
            </div>
        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->
