@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* ===================================================================
 *  main navigation
 *
 * ------------------------------------------------------------------- */

nav {
  min-height: 4rem; // when changed, update navbar-toggler margins
  top: 0.7em;
  z-index: 600;
  background-color: transparent;
  @include transition(all 0.3s ease-in-out);

  .navbar-brand {
    color: transparent;
    width: 15rem;
    height: 3rem;
    background: url("../../../assets/images/logo.svg") no-repeat center;
    background-size: 15rem 3rem;
    @include transition(all 0.3s ease-in-out);

    @include media-breakpoint-down(md) {
      width: 11.5rem;
      height: 1.7rem;
      background: url("../../../assets/images/logo-dark.svg") no-repeat center;
      background-size: 11.5rem 1.7rem;
    }
  }

  .navbar-collapse {
    @include media-breakpoint-down(sm) {
      max-height: 60vh;
      overflow-y: auto;
    }
  }

  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

  .navbar-toggler {
    // needed for the dropdown on mobile to work seamlessly
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}

/* ===================================================================
 *  navbar position
 *
 * ------------------------------------------------------------------- */

.navbar-top {
  top: 0;

  .navbar-brand {
    width: 13rem;
    height: 2.5rem;
    background-size: 13rem 2.5rem;

    @include media-breakpoint-down(md) {
      width: 11rem;
      height: 1.7rem;
      background: url("../../../assets/images/logo.svg") no-repeat center;
      background-size: 11rem 1.7rem;
    }
  }
}

/* ===================================================================
 *  navbar background
 *
 * ------------------------------------------------------------------- */

.navbar-white {
  background: white;
}
.navbar-shadow {
  box-shadow: 0 2px 13px 0 #a5a5a57a;
}

.navbar-tinted-white {
  background: linear-gradient(
    180deg,
    #ffffff 43.95%,
    rgba(255, 255, 255, 0.85) 100%
  );
}

.navbar-tinted-dark {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.17) 0%,
    rgba(0, 0, 0, 0.085) 100%
  );
}

/* ===================================================================
 *  navbar text
 *
 * ------------------------------------------------------------------- */

.navbar-text-light {
  @include media-breakpoint-up(lg) {
    .nav-item .nav-link {
      color: $cf-lightGray !important;
      &:hover,
      img:hover {
        background: $cf-gradient-orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $cf-lightGray;
  }

  //NOTE: importants just bc I want this rule before
}

#navbarResponsive {
  @include media-breakpoint-down(md) {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
}

.navbar-nav {
  font-size: 1.2em;

  .nav-item {
    padding-left: 1em;

    @include media-breakpoint-down(md) {
      border-top: 0.1rem solid $cf-lightGray;
    }

    .nav-link {
      color: $cf-dark;
      @include transition(color 0.1s ease-in-out);
      &:hover {
        cursor: pointer;
      }

      @include media-breakpoint-up(lg) {
        &:hover,
        img:hover {
          background: $cf-gradient-orange;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      @include media-breakpoint-down(md) {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
      }
    }
  }
}

.nav-link[aria-expanded="true"] {
  background: $cf-gradient-orange;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown-menu {
  font-family: "quicksand-regular", sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  border: none;
  @include border-radius(0.4rem);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 5rem;

  @include media-breakpoint-down(md) {
    padding: 0;
    box-shadow: none;
  }

  .dropdown-item {
    color: $cf-dark;
    @include media-breakpoint-down(md) {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
    &:focus,
    &:hover {
      background-color: #e9ecef;
    }
    &:hover {
      cursor: pointer;
    }
  }

  fa-icon,
  img {
    margin-right: 1rem;
  }
  fa-icon {
    font-size: 1.3rem;
  }
  img {
    height: 1.3rem;
  }
}

.dropdown:hover .dropdown-menu {
  @include media-breakpoint-up(lg) {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }
}

.last-mobile-row {
  @include media-breakpoint-down(md) {
    border-top: 0.1rem solid $cf-lightGray;

    img {
      height: 1.3rem;
      padding-right: 1rem;
    }
    button {
      padding: 0 4rem;
    }
  }

  @include media-breakpoint-down(sm) {
    button {
      padding: 0 40%;
    }
  }

  @include media-breakpoint-down(xs) {
    .dropdown-item {
      padding: 0;
    }
  }
}

/* ===================================================================
 *  hamburger button
 *
 * ------------------------------------------------------------------- */

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 1.7rem;
$hamburger-layer-height: 0.2rem;
$hamburger-layer-spacing: 0.3rem;
$hamburger-layer-color: $cf-dark;
$hamburger-layer-border-radius: 2rem;
$hamburger-hover-opacity: 1;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

@include media-breakpoint-down(md) {
  .hamburger:focus {
    outline: none;
  }
}
