<div class="text-center mx-3 pt-4 mt-5 pt-lg-0 mt-lg-0" style="width: 20rem">
    <div class="avatar mr-auto ml-auto"></div>
    <h5 class="name text-dark-black mt-3">{{ name }}</h5>
    <h6 class="job text-orange">{{ job }}</h6>
    <p class="text text-gray mt-3">{{ text }}</p>

    <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
            <fa-icon [icon]="faFacebookF" id="fb" class="fa-sm"></fa-icon>
        </a>
        <a href="#" class="mx-2">
            <fa-icon [icon]="faTwitter" id="tt" class="fa-sm"></fa-icon>
        </a>
        <a href="#" class="mx-2">
            <fa-icon [icon]="faInstagram" id="ig" class="fa-sm"></fa-icon>
        </a>
    </div>
</div>
