#features {
  font-family: 'quicksand-regular', sans-serif;
  background: url(../../../assets/images/homepage/features/ilustrations/girl.svg) no-repeat center left;
  background-size: 38%;
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  margin: 10rem 0;
  display: table;
  position: relative;
}
