/* ===================================================================
 *
 *  Cycling Fizz v1.0 Features Stylesheet
 *  27-05-2019 #FIXME
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. colors
 *  02. mixins
 *  03.
 *
 * =================================================================== */


/* ===================================================================
 *  01. colors
 *
 * ------------------------------------------------------------------- */

/** general **/
$orange: #FF9F3C;
$header: #2F373D;
$darkBlue: #008C97;
$darkGray: #57565C;


/* ===================================================================
 *  02. mixins
 *
 * ------------------------------------------------------------------- */

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


/* ===================================================================
 *  03.
 *
 * ------------------------------------------------------------------- */

#features {
  font-family: 'quicksand-regular', sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  margin-top: 10rem;
  display: table;
  position: relative;

  h3 {
    font-family: "martel-extraBold", serif;
    font-size: 2rem;
    line-height: 3rem;
  }

  #background {
    background: url(../../../assets/images/homepage/features/ilustrations/girl.svg) no-repeat center left;
    background-size: contain;
    width: 38vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
  }
}

/* ===================================================================
 *  04. Responsive
 *
 * ------------------------------------------------------------------- */

@include  media-breakpoint-down(md) { // phones & tablets
  #features {

    margin: 0;

    h1 {
      font-size: 1.6rem;
      text-align: center;
    }


    #background {
      background: url(../../../assets/images/homepage/features/ilustrations/girl.svg) no-repeat center left;
      background-size: contain;
      width: 75vw;
      height: 75vw;
      //z-index: -1;
      position: relative;
    }
  }
}


