/* ===================================================================
 *
 *  Cycling Fizz v1.0 Features Stylesheet
 *  27-05-2019 #FIXME

 * =================================================================== */

@import "~styles/colors";
@import "~styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";



#features {
  font-family: 'quicksand-regular', sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  margin-top: 10rem;
  display: table;
  position: relative;

  #background {
    background: url(../../../assets/images/homepage/features/ilustrations/girl.svg) no-repeat center left;
    background-size: contain;
    width: 38vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
  }
}

/* ===================================================================
 *  Responsive
 *
 * ------------------------------------------------------------------- */

@include  media-breakpoint-down(md) { // phones & tablets
  #features {
    margin: 0;

    h3 {
      text-align: center;
    }

    #background {
      background: url(../../../assets/images/homepage/features/ilustrations/girl.svg) no-repeat center left;
      background-size: contain;
      width: 75vw;
      height: 75vw;
      //z-index: -1;
      position: relative;
    }
  }
}


