@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.card {
  border: none;
  @include border-radius(1rem);
  @include transition(all 300ms ease-in-out);

  @include media-breakpoint-up(lg) {
    &:hover {
      @include transform(translateY(-1rem));
    }
  }

  img {
    height: 2.5rem;
  }

  .card-title {
    font-size: 1.2rem;
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }

  .card-body {
    font-size: 0.9rem;
  }
}

a {
  text-decoration: none;
}

.calendar-number span {
  font-family: quicksand-bold, sans-serif;
  font-size: 1.5rem;
  position: absolute;
  margin-top: 0.3rem;
  letter-spacing: 0.1rem;
  color: #40596b;
}
