<div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex align-items-center">
        <img src="{{ icon }}" class="mr-3" alt="icon">
        <span>{{ label }}</span>
        <nb-icon class="cursor-hover ml-2" icon="info" nbPopover="{{ hint }}" nbPopoverTrigger="hint"></nb-icon>
    </div>
    <nb-checkbox class="map-cards-checkbox" checked="{{ checked }}" disabled="{{ disabled }}" status="{{ status }}"
                 (checkedChange)="checkedChanged()"></nb-checkbox>
</div>
