<nb-layout>
    <nb-layout-column class="mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="{{ icon }}" class="mr-3">
                <span>{{ label }}</span>
                <fa-icon [icon]="faInfoCircle" [nbPopover]="template" class="info ml-3 d-none d-md-flex"></fa-icon>
            </div>
            <nb-checkbox class="map-cards-checkbox" checked="{{ checked }}" disabled
                         (checkedChange)="checkedChanged()"></nb-checkbox>
        </div>
    </nb-layout-column>
</nb-layout>

<ng-template #template>
    <div class="p-4">
        <span>{{ popover }}</span>
    </div>
</ng-template>
