<section>
    <div class="contents">

        <!-- Dark Bar -->
        <div id="darkBar" class="container-fluid d-flex align-items-center justify-content-between">

            <!-- filter -->
            <a href="" data-toggle="modal" data-target="#filters">
                <img src="../../../assets/images/map/icons/filter.svg" alt="">
            </a>

            <!-- quick filters -->
            <div id="quick-filters" class="d-none d-lg-flex justify-content-between">
                <app-filter-switch *ngFor="let filter of filters; let i=index"
                                   [switchBeforeText]="true"
                                   [switchId]="'switch-'+i"
                                   [filterText]="filter.category">

                </app-filter-switch>
            </div>

            <!-- search bar -->
            <app-search></app-search>
        </div>

        <!-- Map -->
        <div id="map">
            <app-btn-floating></app-btn-floating>
        </div>

        <app-modal-filter [filters]="filters"></app-modal-filter>
    </div>
</section>
