@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

section {
  position: relative;
  height: calc(100% - 4rem);
  top: 4rem;



  .contents {
    position: relative;
    height: 100%;

    #orangeBar {
      position: relative;
      background: $cf-gradient-orange;
      height: 3.5rem;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      padding: 0 1.5rem;
      z-index: 5;

      .filter-icon { font-size: 1.5rem; }
    }


    .map-filters {
      position: absolute;
      height: 100%
    }

    #mapbox {
      position: relative;
      height: calc(100% - 3.5rem);
    }
  }
}
