@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

section {
  //height: 100vh;
  position: relative;
  height: calc(100% - 4rem);
  width: 100%;
  top: 4rem;
  background-color: red;


  .contents {
    position: relative;
    height: calc(100%);
    width: 100%;
    background-color: green;

    #orangeBar {
      //visibility: hidden; //fixme remove
      position: relative;
      background: $cf-gradient-orange;
      height: 3.5rem;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      padding: 0 1.5rem;
      z-index: 5;

      .filter-icon { font-size: 1.5rem; }
    }

    #mapStuff {
      top: 3.5rem;
      height: calc(100% - 3.5rem);
      background-color: orange;

    }


    #mapbox {
      position: relative;
      height: 100%;
    }
  }
}
