@import "~styles/_colors";
@import "~styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

#section-the-project {
  .container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-family: quicksand-regular, sans-serif;
    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
      padding-top: 10rem;
      padding-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 8rem;
      padding-bottom: 8rem;
      h3 { font-size: 1.6rem; }
    }

    .text-section {
      p { line-height: 35px; }

      .image {
        @include media-breakpoint-up(lg) {
          position: relative;
          bottom: 13rem;
        }
        @include media-breakpoint-down(md) {
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }
    }
    .text-section.section-margin {
      margin-top: 10rem;
      @include media-breakpoint-down(md) {
        margin-top: 6rem;
      }
    }
    hr {
      @include media-breakpoint-down(md) {
        margin-top: 6rem;
      }
    }
  }
}



