<section id="section-the-project">
    <app-banner
            [image]="'assets/images/the-project/banner.jpg'"
            [imagePosition]="'60% 30%'"
            [title]="'O Projeto'"
            [text]="'Descobre um pouco da breve história do Cycling Fizz: como surgiu a ideia, como foi posta em prática ' +
             'e quais os nossos objetivos.'">
    </app-banner>

    <div class="container px-4 px-md-0">
        <!-- A ideia -->
        <div class="text-section" data-aos="fade-left" data-aos-duration="1000">
            <h3>A ideia</h3>
            <p class="mt-5">O Cycling Fizz surgiu a partir de uma necessidade cada vez mais presente em Lisboa.</p>
            <p class="mt-5">Com o aumento de ciclovias e incentivos à mobilidade suave por toda a <br class="d-none d-lg-block">
                cidade, falta existir um espaço digital comum a todos os ciclistas que <br class="d-none d-lg-block">agrupe
                de forma simples todo o tipo de informações úteis.</p>
            <p class="mt-5">A ideia é a de, não só servir de diversas formas aqueles que já <br class="d-none d-lg-block">
                fazem um uso regular da bicicleta, como também a de mudar o <br class="d-none d-lg-block">paradigma nas
                estradas e incentivar mais pessoas a <br class="d-none d-lg-block">moverem-se de forma sustentável por todo o país.</p>

            <div class="row justify-content-end">
                <img src="../../../assets/images/the-project/idea.svg" alt="">
            </div>
        </div>

        <hr>

        <!-- Mãos à obra -->
        <div class="text-section section-margin text-right" data-aos="fade-right" data-aos-duration="1000">
            <h3>Mãos à obra</h3>
            <p class="mt-5">A ideia ganhou asas (ou melhor, rodas) de uma forma <br class="d-none d-lg-block">bastante
                informal e após meses a conciliar o projeto com <br class="d-none d-lg-block">as responsabilidades
                individuais de cada membro da <br class="d-none d-lg-block">equipa, muitas horas de pesquisa, tratamento
                de <br class="d-none d-lg-block">informação, aprendizagem e milhares de linhas de <br class="d-none d-lg-block">
                código, nasceu assim o Cycling Fizz!</p>

            <div class="row justify-content-start">
                <img src="../../../assets/images/the-project/girl-working.svg" alt="">
            </div>
        </div>

        <hr>

        <!-- O que nos move -->
        <div class="text-section section-margin" data-aos="fade-left" data-aos-duration="1000">
            <h3>O que nos move</h3>
            <p class="mt-5">O Cycling Fizz surgiu a partir de uma necessidade cada vez mais presente em Lisboa.</p>
            <p class="mt-5">Com o aumento de ciclovias e incentivos à mobilidade suave por toda a <br class="d-none d-lg-block">
                cidade, falta existir um espaço digital comum a todos os ciclistas que <br class="d-none d-lg-block">agrupe
                de forma simples todo o tipo de informações úteis.</p>
            <p class="mt-5">A ideia é a de, não só servir de diversas formas aqueles que já <br class="d-none d-lg-block">
                fazem um uso regular da bicicleta, como também a de mudar o <br class="d-none d-lg-block">paradigma nas
                estradas e incentivar mais pessoas a <br class="d-none d-lg-block">moverem-se de forma sustentável por todo o país.</p>

            <div class="row justify-content-end">
                <img src="../../../assets/images/the-project/guy-cycling.svg" alt="">
            </div>
        </div>
    </div>

</section>
