<section id="section-the-project">
    <app-banner
            [image]="'assets/images/the-project/banner.jpg'"
            [imagePosition]="'60% 30%'"
            [title]="'O Projeto'"
            [text]="'Descobre um pouco da breve história do Cycling Fizz, nomeadamente como surgiu a ideia, como foi posta em prática ' +
             'e quais são afinal os nossos objetivos'">
    </app-banner>

    <div class="container px-4 px-md-0">
        <!-- A ideia -->
        <div class="text-section" data-aos="fade-left" data-aos-duration="1000">
            <h3>A ideia</h3>
            <p class="mt-5">O Cycling Fizz surgiu a partir de uma necessidade cada vez mais presente em Lisboa.</p>
            <p class="mt-5">Com o aumento de ciclovias e incentivos à mobilidade suave por toda a <br class="d-none d-lg-block">
                cidade, falta existir um espaço digital comum a todos os ciclistas que <br class="d-none d-lg-block">agrupe
                de forma simples todo o tipo de informações úteis.</p>
            <p class="mt-5">A ideia é a de, não só servir de diversas formas aqueles que já <br class="d-none d-lg-block">
                fazem um uso regular da bicicleta, como também a de mudar o <br class="d-none d-lg-block">paradigma nas
                estradas e incentivar mais pessoas a <br class="d-none d-lg-block">moverem-se de forma sustentável por todo o país.</p>

            <div class="row justify-content-end">
                <app-img-idea class="image"></app-img-idea>
            </div>
        </div>

        <hr>

        <!-- Mãos à obra -->
        <div class="text-section section-margin text-right" data-aos="fade-right" data-aos-duration="1000">
            <h3>Mãos à obra</h3>
            <p class="mt-5">A ideia ganhou asas (ou melhor, rodas) de uma forma <br class="d-none d-lg-block">bastante
                informal e após meses a conciliar o projeto com <br class="d-none d-lg-block">as responsabilidades
                individuais de cada membro da <br class="d-none d-lg-block">equipa, muitas horas de pesquisa, tratamento
                de <br class="d-none d-lg-block">informação, aprendizagem e milhares de linhas de <br class="d-none d-lg-block">
                código, nasceu assim o Cycling Fizz!</p>

            <div class="row justify-content-start">
                <app-img-girl-working class="image"></app-img-girl-working>
            </div>
        </div>

        <hr>

        <!-- O que nos move -->
        <div class="text-section section-margin" data-aos="fade-left" data-aos-duration="1000">
            <h3>O que nos move</h3>
            <p class="mt-5">O Cycling Fizz surgiu a partir de uma necessidade cada vez mais presente em Lisboa.</p>
            <p class="mt-5">Com o aumento de ciclovias e incentivos à mobilidade suave por toda a <br class="d-none d-lg-block">
                cidade, falta existir um espaço digital comum a todos os ciclistas que <br class="d-none d-lg-block">agrupe
                de forma simples todo o tipo de informações úteis.</p>
            <p class="mt-5">A ideia é a de, não só servir de diversas formas aqueles que já <br class="d-none d-lg-block">
                fazem um uso regular da bicicleta, como também a de mudar o <br class="d-none d-lg-block">paradigma nas
                estradas e incentivar mais pessoas a <br class="d-none d-lg-block">moverem-se de forma sustentável por todo o país.</p>

            <div class="row justify-content-end">
                <app-img-guy-cycling class="image"></app-img-guy-cycling>
            </div>
        </div>

        <hr>

        <div class="extra-info text-center">
            <p>O Cycling Fizz é um projeto em construção e temos ainda muitas ideias para colocar em prática!</p>
            <p class="text-subscribe mt-5 mb-4"><b>Subscreve a nossa newsletter e fica sempre a par das novidades</b></p>
<!--            <form class="mr-auto ml-auto">-->
<!--                <div id="subForm" class="form-group">-->
<!--                    <input type="email" class="form-control" id="subEmailInput" aria-describedby="emailHelp" placeholder="Introduz o teu e-mail...">-->
<!--                    <small id="emailHelp" class="form-text text-muted">*Nunca partilharemos os teus dados com mais ninguém.</small>-->
<!--                    <button id ="subscribeBtn" type="submit" class="subscribeBtn btn btn-primary px-3 float-right d-none d-sm-block">Subscrever</button>-->
<!--                    <button id ="subscribeBtnMobile" type="submit" class="subscribeBtn btn btn-primary px-3 float-right d-sm-none">-->
<!--                        <fa-icon [icon]="faPaperPlane" class="fa-md"></fa-icon>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>--> <!-- FIXME -->

            <div class="social-info d-flex flex-wrap justify-content-center align-content-center">
                <p class="text-center d-md-none">Podes também seguir-nos nas redes sociais, ou então falar connosco e dar o teu feedback e sugestões através
                    de <b>contacto@cyclingfizz.pt</b>.</p>

                <div class="social d-flex justify-content-center mt-4 mr-md-4">
                    <a href="#" class="mr-4">
                        <fa-icon [icon]="faFacebookF" id="fb" ></fa-icon>
                    </a>
                    <a href="#" class="mr-4">
                        <fa-icon [icon]="faTwitter" id="tt" ></fa-icon>
                    </a>
                    <a href="#" class="mr-4">
                        <fa-icon [icon]="faInstagram" id="ig" ></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faYoutube" id="yt" ></fa-icon>
                    </a>
                </div>

                <p class="text-right d-none d-md-block">Podes também seguir-nos nas redes sociais, ou então falar connosco e dar o teu feedback e sugestões através
                    de <b>contacto@cyclingfizz.pt</b>.</p>
            </div>
        </div>
    </div>

</section>
