<section id="section-blog">

    <h2 class="text-center" data-aos="fade-up">
        {{'homepage.blog.header.part1' | translate}}
        <span class="text-gradient">{{'homepage.blog.header.part2' | translate}}</span>!
    </h2>
    <h5 class="text-center mb-5 mx-3 d-block mx-lg-auto" data-aos="fade-up" data-aos-delay="200">
        {{'homepage.blog.sub-heading' | translate}}
    </h5>

    <div data-aos="fade-up" data-aos-delay="400">
        <app-b-carousel [blogPosts]="cardArray"></app-b-carousel>

        <span class="see-more d-flex justify-content-center justify-content-lg-start" >
            <a class="font-qks-medium text-dark-gray" href="#">
                {{'homepage.blog.see-more' | translate}}
                <i data-feather="arrow-right"></i>
            </a>
        </span>

        <!-- Jumping balls -->
        <div class="jumping-balls">
            <div class="ball-1 jumping-animation d-none d-lg-block"><img src="../../../assets/images/homepage/green-ball.png"></div>
            <div class="ball-2 jumping-animation2 d-none d-lg-block"><img src="../../../assets/images/homepage/blue-ball.png"></div>
            <div class="ball-3 yellow-ball jumping-animation4 d-none d-lg-block"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
            <div class="ball-4 jumping-animation3 d-none d-lg-block"><img src="../../../assets/images/homepage/blue-ball.png"></div>
            <div class="ball-5 yellow-ball jumping-animation4"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
            <div class="ball-6 yellow-ball jumping-animation2"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
        </div>

        <div id="background"></div>
    </div>

</section>
