/* ===================================================================
 *
 *  Cycling Fizz v1.0 Features Card Stylesheet
 *  03-11-2019 #FIXME
 *
 * =================================================================== */

@import "~styles/colors";
@import "~styles/mixins";

@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";


.card {
  //height: 13rem;
  border: none;
  border-radius: 1rem;
  @include transition(all 300ms ease-in-out);

  &:hover {
    @include transform(translateY(-1rem));
  }

  img {
    height: 2rem;
  }

  .card-title {
    font-family: 'quicksand-bold', sans-serif;
    font-size: 1.2rem;
    color: $header;

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }

  .card-body {
    font-size: 0.9rem;
  }
}

a {
  color: $text;
  text-decoration: none;
}
