@import "~styles/colors";
@import "~styles/mixins";

@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";


.modal {
  font-family: 'quicksand-regular', sans-serif;

  .modal-content {
    border: none;
    border-radius: 1rem;
    height: 45rem;

    @include media-breakpoint-down(lg) {
      height: 50rem;
    }
  }
}

.modal-popout-bg {
  background: white url(../../../../assets/images/header/modal/ilustrations/green-girl.svg) no-repeat top left;
  background-size: auto 100%;
  background-position-x: -20%;

  @include media-breakpoint-down(lg) {
    background-image: url(../../../../assets/images/header/modal/ilustrations/green-girl-mobile.svg);
    background-size: auto 150%;
    background-position-y: 40%;
    background-position-x: 40%;
  }
}
