@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.badge { color: white; }
.badge-new { background-color: $badge-new; }
.badge-soon { background-color: $badge-soon; }
