<form>
    <div id="search" class="form-group d-flex align-items-center" (click)="toggleSearchBar($event)">
        <img class="search-icon" src="../../../assets/images/map/icons/search.svg">
        <input type="text" class="form-control" id="searchInput" placeholder="Procurar..." value="">
        <button type="button" class="clear invisible" aria-label="Clear"
                onclick="document.getElementById('searchInput').value = ''">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</form>
