@import "~styles/colors";
@import "~styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

form {
  .form-group {
    margin: 0;
  }

  .search-icon {
    position: relative;
    left: 2rem;
  }

  .form-control {
    font-family: quicksand-regular, sans-serif;
    width: 15rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 3rem;
    border: 0 none;
    @include transition(all 300ms ease-in-out);

    &:focus {
      color: $cf-dark;
      box-shadow: none;
    }
  }

  .clear {
    position: absolute;
    right: 2.3rem;
    background: none;
    border: none;
    color: $cf-gray;

    span {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    &:hover {
      color: $cf-dark;
    }

    &:focus {
      outline: none;
    }
  }
}

@include media-breakpoint-up(sm) {
  form .form-control.is-focus {
    width: 20rem;
  }
}

