@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


/*===================================================================
*
*   Filters Modal
*
* ===================================================================*/

$modal-width: 300px;
$modal-width-mobile: 280px;

#filters.modal.left {
  .modal-dialog {
    position: fixed;
    top: calc(4rem + 3.5rem); //navbar + darkBar
    margin: auto;
    width: $modal-width;
    height: 100%;
    @include transform(translate3d(0%, 0, 0));

    @include media-breakpoint-down(sm) {
      width: $modal-width-mobile;
    }
  }

  .modal-content {
    height: calc(100% - 4rem - 3.5rem);
    border: none;
    border-radius: 0;
    box-shadow: 6px 1px 10px 0 #21252994;
  }

  .modal-header {
    height: 3.5rem;
    background-color: $lightGray;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    border-radius: 0;

    .modal-title {
      font-family: quicksand-bold, sans-serif;
      line-height: 1.5rem;
      color: $darkGray;

      @include media-breakpoint-down(md) {
        font-size: 1.3rem;
      }
    }

    img { margin-bottom: .5rem; }
  }

  .modal-body {
    padding: 1rem 1.5rem 1rem 1.5rem;
    overflow-y: auto;
  }
}

#filters.modal.left.fade {
  .modal-dialog {
    left: -$modal-width;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;

    @include media-breakpoint-down(sm) {
      left: -$modal-width-mobile;
    }
  }
}

#filters.modal.left.fade.show {
  .modal-dialog {
    left: 0;
  }
}

app-filter-group { display: none; }
app-filter-group.filter-group-bikelanes { display: block; }




/*===================================================================
*
*   Map Element Modal
*
* ===================================================================*/

#mapElementModal {
  overflow-y: auto; // so it keeps scrolling when dialogs appear
  .modal-content {
    border: none;
    border-radius: 1.5rem;
  }

  .modal-header {
    background: $gradient-orange;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

    .actions {
      position: absolute;
      right: 4rem;
    }

    .close {
      font-family: quicksand-regular, sans-serif;
      color: white;
      opacity: .7;
      padding-top: 2rem;
      padding-right: 2.2rem;
      &:hover { opacity: 1; }
    }

    #name {
      font-family: quicksand-bold, sans-serif;
      color: white;
    }

    .rating {
      span.rating-number,
      span.rating-source,
      span.rating-source a {
        color: white;
      }
      span.rating-number {
        font-family: quicksand-medium, sans-serif;
      }
      span.rating-source {
        font-family: quicksand-light, sans-serif;
        font-size: .8rem;
      }
      .star {
        color: white;
        opacity: .4;
        &.checked { opacity: 1; }
      }
    }

  }

  .modal-body {
    .actions {
      fa-icon {
        color: $darkGray;
        font-size: 1.2rem;
        &:hover, &:focus {
          cursor: pointer;
          color: darken($darkGray, 10);
        }
      }
    }

    .share, .goto {
      width: 45%;
      img { height: 1.3rem; }
    }

    .info {
      font-family: quicksand-regular, sans-serif;
      color: #97959F;
      @include media-breakpoint-down(sm) {
        font-size: .8rem;
      }
    }

    .address {
      font-family: quicksand-regular, sans-serif;
    }
  }
}
