<!-- ===================================================================
 *
 *  Map Element Modal
 *
 * =================================================================== -->
<div class="modal fade" id="mapElementModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="#name">

    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header pb-0 pt-1 px-1">
                <div class="d-flex flex-wrap align-items-center">
                    <!-- // Header -->
                    <img src="../../../../assets/images/map/icons/icon-{{type}}.svg" alt="">
                    <h5 class="modal-title mb-2" id="name">{{ name }}</h5>

                    <!-- store rating -->
                    <div *ngIf="type === 'store'" class="store-rating mb-2 ml-3">
                        <div class="rating d-flex align-items-center">
                            <span class="rating-number mr-2">{{ storeRating }}</span>
                            <div *ngFor="let i of storeRatingArray">
                                <fa-icon *ngIf="i === 1" [icon]="faStar" class="star checked mr-2"></fa-icon>
                                <fa-icon *ngIf="i === 0" [icon]="faStar" class="star mr-2"></fa-icon>
                            </div>
                            <span class="rating-source">(fonte:
                                <a href="https://google.com" target="_blank">{{  storeRatingSource}}</a>)
                            </span>
                        </div>
                    </div>

                    <!-- share & goto -->
                    <div class="actions d-none d-lg-flex align-items-center ml-auto">
                        <a href="">
                            <img class="mr-3" data-toggle="tooltip" data-placement="top" title="Partilhar"
                                        src="../../../../assets/images/map/icons/share.svg" alt="">
                        </a>
                        <a href="https://www.google.com/maps/place/{{lat}},{{lng}}" target="_blank">
                            <img data-toggle="tooltip" data-placement="top" title="Como chegar"
                                 src="../../../../assets/images/map/icons/goto.svg" alt="">
                        </a>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body py-4 px-5">
                <!-- // Sub-header -->
                <div class="sub-header d-flex justify-content-between">
                    <!-- edit & delete -->
                    <div class="actions">
                        <fa-icon [icon]="faEdit" class="mr-3" data-toggle="tooltip" data-placement="top" title="Editar"
                            (click)="editActivated ? changeEditMode(false) : changeEditMode(true)"></fa-icon>
                        <fa-icon [icon]="faTrash" data-toggle="tooltip" data-placement="top" title="Apagar"
                            (click)="openModal('#deleteModal')"></fa-icon>
                    </div>

                    <!-- last update -->
                    <div class="info d-flex flex-column align-items-end justify-content-center">
                        <span>Última atualiação: {{ lastUpdateDate | date:'dd/MM/yyy' }}</span>
                        <span>por {{ lastUpdateUser }}</span>
                    </div>
                </div>

                <!-- share & goto [mobile] -->
                <div class="d-flex d-lg-none justify-content-between align-items-center mt-4">
                    <button class="share btn btn-primary" type="button">
                        <img class="mr-0 mr-md-2" src="../../../../assets/images/map/icons/share.svg" alt="">
                        Partilhar
                    </button>
                    <button class="goto btn btn-primary" type="button">
                        <img class="mr-0 mr-md-2" src="../../../../assets/images/map/icons/goto.svg" alt="">
                        Direções
                    </button>
                </div>

                <!-- // Address -->
                <div *ngIf="type != 'store'" class="address d-flex align-items-center mt-5 ml-2">
                    <img src="../../../../assets/images/map/icons/map-element/address.svg" alt="">
                    <span class="text-dark-black ml-3">{{ address }}</span>
                </div>

                <!-- // Cards -->
                <app-map-cards-bikelane *ngIf="type === 'bikelane'" [editMode]="editActivated" class="mt-4"></app-map-cards-bikelane>
                <app-map-cards-parking *ngIf="type === 'parking'" [editMode]="editActivated" class="mt-4"></app-map-cards-parking>
                <app-map-cards-store *ngIf="type === 'store'" [editMode]="editActivated" class="mt-4"></app-map-cards-store>
                <!-- TODO cards bikesharing -->

                <!-- // Tags -->
                <app-map-tags *ngIf="type != 'bikesharing' && !editActivated" [tags]="tags"></app-map-tags>
                <nb-select *ngIf="type != 'bikesharing' && editActivated" multiple placeholder="Escolher etiquetas" status="success">
                    <nb-option *ngFor="let tag of tags" value="{{ tag.id }}" (click)="changeColor($event)" class="success">{{ tag.text }}</nb-option>
                </nb-select>

                <!-- // Buttons [edit mode] -->
                <div *ngIf="editActivated" class="d-flex justify-content-end align-items-center mt-4">
                    <button nbButton outline status="success" class="mr-3"
                            (click)="openModal('#ignoreChangesModal')">Descartar</button>
                    <button nbButton hero status="success" (click)="openModal('#saveChangesModal')">Guardar</button>
                </div>

                <!-- // Gallery -->
                <app-map-gallery [photos]="photos"></app-map-gallery>

                <!-- // Comments -->
                <app-map-comments [comments]="comments"></app-map-comments>

            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->

</div><!-- modal -->




<!-- ===================================================================
 *
 *  Ignore Changes Modal
 *
 * =================================================================== -->
<div class="modal fade" id="ignoreChangesModal" tabindex="-1" role="dialog" aria-labelledby="ignoreChangesModalLabel" aria-hidden="true">
    <div class="modal-dialog dark-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title dialog-title" id="ignoreChangesModalLabel">⚠ Descartar alterações</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="dialog-text">Tens a certeza que queres sair sem guardar as alterações efetuadas?</p>
            </div>
            <div class="modal-footer">
                <button nbButton hero status="danger"
                        (click)="changeEditMode(false);
                                closeModal('#ignoreChangesModal')">
                    Sair
                </button>
                <button nbButton hero status="warning"
                        (click)="closeModal('#ignoreChangesModal')">
                    Continuar a editar
                </button>
            </div>
        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->


<!-- ===================================================================
 *
 *  Save Changes Modal
 *
 * =================================================================== -->
<div class="modal fade" id="saveChangesModal" tabindex="-1" role="dialog" aria-labelledby="saveChangesModalLabel" aria-hidden="true">
    <div class="modal-dialog dark-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title dialog-title" id="saveChangesModalLabel">✔ Alterações guardadas!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="dialog-text">As tuas alterações foram guardadas e vão ser revistas antes de serem colocadas online.</p>
                <p class="dialog-text">🙏 Obrigada por contribuíres e ajudares a completar o mapa. A comunidade de ciclistas agradece!</p>
                <p class="dialog-text">🏆 Verifica o teu nível de contribuições na conta de utilizador e vê que prémios podes ganhar.</p>
            </div>
            <div class="modal-footer">
                <button nbButton hero status="warning"
                        (click)="changeEditMode(false);
                                closeModal('#saveChangesModal');
                                closeModal('#mapElementModal')">
                    Fechar
                </button>
            </div>
        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->


<!-- ===================================================================
 *
 *  Delete Modal
 *
 * =================================================================== -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog dark-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title dialog-title" id="deleteModalLabel">⚠ Apagar elemento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="!deleteFormMode">
                    <p class="dialog-text">Tens a certeza que queres apagar este elemento?</p>
                </div>
                <div *ngIf="deleteFormMode">
                    <p class="dialog-text">Diz-nos o motivo pelo qual queres apagar este elemento?</p>
                    <nb-layout>
                        <nb-layout-column>
                            <nb-select placeholder="Escolher uma opção" required=""> <!-- FIXME make it required -->
                                <nb-option value="">Informação errada</nb-option>
                                <nb-option value="0">Elemento já não existe</nb-option>
                                <nb-option value="1">Outra</nb-option>
                            </nb-select>
                        </nb-layout-column>
                    </nb-layout>
                </div>
            </div>
            <div class="modal-footer">
                <div *ngIf="!deleteFormMode">
                    <button nbButton hero status="danger" (click)="changeDeleteMode(true)" class="mr-2">Apagar</button>
                    <button nbButton hero status="warning" (click)="closeModal('#deleteModal')">Voltar atrás</button>
                </div>
                <div *ngIf="deleteFormMode">
                    <button nbButton hero status="warning"
                            (click)="closeModal('#deleteModal'); openModal('#saveChangesModal')">Submeter</button>
                </div>
            </div>
        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->
