<!-- ===================================================================
 *
 *  Filters Modal
 *
 * =================================================================== -->
<div class="modal left fade" id="filters" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="#filtering">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="filtering">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="../../../assets/images/map/icons/close.svg" alt="Close"></span>
                </button>
            </div>

            <div class="modal-body">
                <div *ngFor="let filter of filters" class="mb-3">
                    <app-map-filter-toggle
                            [label]="filter.category"
                            [checked]="filter.checked"
                            [name]="filter.name"
                            (onCheckedChange)="toggleFilterGroups(filter.name)">
                    </app-map-filter-toggle>
                    <app-filter-group
                            [filterGroups]="filter.filterGroups"
                            class="filter-group-{{filter.name}}">
                    </app-filter-group>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->

</div><!-- modal -->







<!-- ===================================================================
 *
 *  Map Element Modal
 *
 * =================================================================== -->
<div class="modal fade" id="mapElementModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="#name">

    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header py-0 px-1">
                <div class="d-flex align-items-center">
                    <img src="../../../../assets/images/map/icons/icon-{{type}}.svg">
                    <h5 class="modal-title mb-2" id="name">{{ name }}</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body p-4">
                <div class="sub-header d-flex justify-content-between">
                    <div class="actions">
                        <fa-icon [icon]="faEdit" class="mr-3"></fa-icon>
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </div>
                    <div class="info d-flex flex-column align-items-end justify-content-center">
                        <span>Última atualiação: {{ lastUpdateDate | date:'dd/MM/yyy' }}</span>
                        <span>por {{ lastUpdateUser }}</span>
                    </div>
                </div>



            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->

</div><!-- modal -->
