<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="login d-flex flex-row align-items-center justify-content-end py-5">

        <div class="col-4 mr-4">

            <!-- Heading -->
            <h3 class="login-heading mb-2">Bem-vindo!</h3>
            <div class="text-center">
                <label class="gray-label">faz login com:</label>
            </div>

            <!-- Sign-in alternatives -->
            <div class="social d-flex justify-content-center mb-4">
                <a href="#" class="mx-2" id="fb">
                    <fa-icon [icon]="faFacebookF"></fa-icon>
                </a>
                <a href="#" class="mx-2" id="gg">
                    <fa-icon [icon]="faGooglePlusG"></fa-icon>
                </a>
                <a href="#" class="mx-2" id="tt">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
            </div>

            <form>
                <div class="text-center">
                    <label class="gray-label">ou usa a tua conta de e-mail:</label>
                </div>

                <!-- E-mail address -->
                <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de e-mail" required autofocus>
                </div>

                <!-- Password -->
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Palavra-passe" required>
                </div>

                <!-- Remember password checkbox -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Lembrar palavra-passe</label>
                </div>

                <!-- Sign-in btn & forgot password -->
                <div class="text-center">
                    <button class="btn btn-primary btn-login font-weight-bold mb-2" type="submit">Login</button>
                </div>
                <div class="text-center">
                    <a class="fgt-pass small" href="#">Esqueci-me da palavra-passe</a>
                </div>
            </form>

            <!-- Register -->
            <div class="register mt-5">
                <label class="mr-3 my-auto">Ainda não tens conta?</label>
                <app-btn-outline btnText="Registar" (click)="registerClicked()"></app-btn-outline>
            </div>

        </div> <!-- /col -->

    </div> <!-- /d-flex -->

</div>
