@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.section-gallery {
  margin-top: 3rem;

  .section-title { font-size: 1.3rem; }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  img {
    position: relative;
    object-fit: cover;
    z-index: -2;
  }

  nb-user {
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    &.smaller {
      position: absolute;
      margin-left: .5rem;
      left: unset;
    }
  }
}

#slider .slide {
  width: 100%;
  height: 29rem;
  @include media-breakpoint-down(md){ height: 100%; }
}

#slider-nav .slide {
  width: 100%;
  height: 5rem;
}
