<section id="section-quote">

    <!-- Quote -->
    <div class="d-flex flex-row h-100" data-aos="fade-up">
        <p class="font-nycd-regular text-center m-auto">" Nothing compares<br class="d-block d-sm-none"> to the simple <br class="d-none d-sm-block">pleasure <br class="d-block d-sm-none">of riding a bike. "</p>
    </div>

    <!-- Jumping balls -->
    <div class="jumping-balls">
        <div class="ball-1 yellow-ball jumping-animation"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
        <div class="ball-2 jumping-animation2"><img src="../../../assets/images/homepage/blue-ball.png"></div>
        <div class="ball-3 yellow-ball jumping-animation4"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
        <div class="ball-4 jumping-animation3"><img src="../../../assets/images/homepage/green-ball.png"></div>
        <div class="ball-5 yellow-ball jumping-animation4"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
    </div>

    <div id="background" data-aos="fade-up"></div>

</section>
