@import "../../../styles/colors";
@import "../../../styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


label {
  font-family: quicksand-medium, sans-serif;

  &:focus, &::selection {
    outline: none;
    background-color: transparent;
  }
}

.custom-control-label::before {
  border: none;
  background-color: $switch;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: $orange;
  background-color: $orange;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 146, 60, 0.25);
}

.custom-switch .custom-control-label::before {
  width: 2rem;
  border-radius: 100px;

  @include media-breakpoint-down(md) {
    width: 2.4rem;
  }
}

.custom-control-label::before {
  height: 1.1rem;

  @include media-breakpoint-down(md) {
    height: 1.5rem;
  }
}

.custom-switch .custom-control-label::after {
  top: calc(.3rem + 1px);
  width: calc(1.1rem - 3px);
  height: calc(1.1rem - 3px);
  border-radius: 50%;

  @include media-breakpoint-down(md) {
    top: calc(.36rem + 1px);
    width: calc(1.3rem - 3px);
    height: calc(1.3rem - 3px);;
  }
}


/* ------------------------------------------------------------------
 *  custom-control-left
 *  ------------------------------------------------------------------ */

.custom-control-left {
  label {
    color: $lightGray;
    padding-left: .3rem;
  }
}


/* ------------------------------------------------------------------
 *  custom-control-right
 *  ------------------------------------------------------------------ */

.custom-control-right {
  padding-left: 0;

  label {
    display: flex;
    color: $darkGray;
    font-size: 1.1rem;
  }
  .custom-control-label::before,
  .custom-control-label::after {
    right: -1.5rem;
    left: initial;
    margin-right: 1.5rem;
    @include media-breakpoint-down(md) { top: .1rem; }
  }

  .custom-control-label::after {
    right: -.6rem;
    @include media-breakpoint-down(md) { right: -.5rem; top: .3rem; }
  }
}
