<nb-card class="card-filters" status="info">
    <nb-card-header class="d-flex justify-content-between align-items-center">
        Filtros
        <nb-icon class="close-btn cursor-hover" icon="close-outline" (click)="close()"></nb-icon>
    </nb-card-header>

    <nb-card-body>
        <div *ngFor="let filter of filters" class="mb-3">
            <app-switch
                    [name]="'filter-switch filter-'+ filter.name"
                    [label]="filter.category"
                    [labelPosition]="'left'"
                    [labelColor]="'dark'"
                    [checked]="filter.checked"
                    [status]="'primary'"
                    (checkedChange)="toggleFilterGroups(filter.name)">
            </app-switch>

            <app-filter-group
                    [filterGroups]="filter.filterGroups"
                    class="filter-group-{{filter.name}}">
            </app-filter-group>
        </div>
    </nb-card-body>
</nb-card>
