@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.section-title {
  font-family: quicksand-bold, sans-serif;
  font-size: 1.3rem;
  color: $cf-dark;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

img {
  border-radius: .2rem;
  position: relative;
  z-index: -2;
}

nb-user {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  &.smaller {
    position: absolute;
    margin-left: .5rem;
    left: unset;
  }
}
