@import "~styles/colors";
@import "~styles/mixins";

@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.wrapper {
  margin-right: auto;
  margin-left: auto;

  @media only screen and (min-width: 1024px) { width: 65rem; }
  @media only screen and (max-width: 1024px) { width: 43rem; }
  @media only screen and (max-width: 650px) { width: 21rem; }
}
