<section id="section-cover">

  <!-- Cover content -->
  <div class="cover-content d-table-cell text-center align-middle">
      <div class="row">

        <div id="cover-div" class="col-10 offset-1">
          <h1 class="text-center text-lg-left d-md-block mx-md-auto" data-aos="fade-up">
              {{'homepage.cover.title.part1' | translate}} <br class="d-none d-lg-block">
              {{'homepage.cover.title.part2' | translate}} <br class="d-none d-lg-block">
              {{'homepage.cover.title.part3' | translate}}
          </h1>
            <button (click)="open(verifyEmailDialog)">Abrir verificação de e-mail</button>
          <h5 class="text-center text-lg-left" data-aos="fade-up" data-aos-delay="200">{{'homepage.cover.text' | translate}}</h5>
          <div id="cover-btns" class="d-flex flex-wrap pt-4 align-items-center"
               data-aos="fade-up" data-aos-delay="300">
            <button class="btn btn-primary mb-4 mb-md-0" type="button" routerLink="/map">{{'homepage.cover.mapBtn' | translate}}</button>
            <div class="video-popup font-qks-medium mb-4 mb-md-0"
               (click)="open(coverVideo)">
              <div class="btn-video mr-2">
                  <img src="../../../assets/images/homepage/cover/icons/play-button.svg" alt="Play video">
              </div>
                {{'homepage.cover.videoBtn' | translate}}
            </div>
          </div>
        </div>

      </div>
  </div>
        
  <!-- Side navigation -->
  <div class="side-container d-none d-lg-block">
  
    <!-- social list -->
    <ul class="social-list">
        <li> <a href="#"><fa-icon [icon]="faFacebookF" id="fb"></fa-icon></a> </li>
        <li> <a href="#"><fa-icon [icon]="faTwitter" id="tt"></fa-icon></a> </li>
        <li> <a href="#"><fa-icon [icon]="faInstagram" id="ig"></fa-icon></a> </li>
        <li> <a href="#"><fa-icon [icon]="faYoutube" id="yt"></fa-icon></a> </li>
    </ul>

    <!-- scrolldown -->
    <div class="scrolldown">
        <a href="#section-features" class="scroll-icon smoothscroll" (click)="smoothScroll($event)">
            <span>{{'homepage.cover.see-more' | translate}}</span> <!-- Scroll Down -->
            <fa-icon [icon]=" faArrowRight" class="pl-2 fa-lg"></fa-icon>
        </a>
    </div>
  </div>
      
  <!-- Jumping balls -->
  <div class="jumping-balls">
    <div class="ball-1 jumping-animation"><img src="../../../assets/images/homepage/yellow-ball.png" alt="yellow-ball"></div>
    <div class="ball-2 jumping-animation2"><img src="../../../assets/images/homepage/green-ball.png" alt="green-ball"></div>
    <div class="ball-3 jumping-animation2"><img src="../../../assets/images/homepage/green-ball.png" alt="green-ball"></div>
    <div class="ball-4 jumping-animation3"><img src="../../../assets/images/homepage/blue-ball.png" alt="blue-ball"></div>
    <div class="ball-5 jumping-animation4"><img src="../../../assets/images/homepage/yellow-ball.png" alt="yellow-ball"></div>
  </div>
      
</section>

<ng-template #coverVideo let-data let-ref="dialogRef">
    <nb-card class="pop-up" accent="primary" (ngInit)="loadFeatherIcons()">
        <nb-card-header>
            <div class="d-flex justify-content-between align-items-center">
                <h4>Vídeo de apresentação</h4>
                <button (click)="ref.close()"><i data-feather="x"></i></button>
            </div>

        </nb-card-header>
        <nb-card-body>
            <iframe [src]="safeVideoUrl" frameborder="0"></iframe>
        </nb-card-body>
    </nb-card>
</ng-template>

<ng-template #verifyEmailDialog let-data let-ref="dialogRef">
    <app-dialog
            [status]="'warning'"
            [text]="'Para poderes usar a tua conta do Cycling Fizz, tens que verificar o teu e-mail primeiro.'+
                    'Procura na tua caixa de correio o e-mail de verificação, ou clica em baixo para te enviarmos um novo.'"
            [leftButton]="'Cancelar'"
            [rightButton]="'Reenviar e-mail'"
            (onLeftBtnClicked)="ref.close()"
            (onRightBtnClicked)="ref.close();"
            (onCloseBtnClicked)="ref.close()"
    ></app-dialog> <!-- FIXME: send email again onRightBtnClicked-->
</ng-template>
