<section id="cover">

  <!-- Cover content -->
  <div class="cover-content">
      <div class="row">

        <div id="cover-div" class="col-10 offset-1">
          <h1 data-aos="fade-up">
              {{'cover.title.part1' | translate}} <br class="d-none d-lg-block">
              {{'cover.title.part2' | translate}} <br class="d-none d-lg-block">
              {{'cover.title.part3' | translate}}</h1>
          <h5 data-aos="fade-up" data-aos-delay="200">{{'cover.text' | translate}}</h5>
          <div id="cover-btns" class="row pl-lg-3 pt-4 align-items-center" data-aos="fade-up" data-aos-delay="300">
            <a href="#" class="btn btn-primary" routerLink="/map">{{'cover.mapBtn' | translate}}</a>
            <a href="https://www.youtube.com/watch?v=pBFQdxA-apI" class="video-popup">
              <div class="btn-video mr-2">
                  <img src="../../../assets/images/homepage/cover/icons/play-button.svg" alt="Play video">
              </div>
                {{'cover.videoBtn' | translate}}
            </a>
          </div>
        </div>

      </div>
  </div>
        
  <!-- Side navigation -->
  <div class="side-container">
  
    <!-- social list -->
    <ul class="social-list">
        <li> <a href="#"><fa-icon [icon]="faFacebookF" id="fb"></fa-icon></a> </li>
        <li> <a href="#"><fa-icon [icon]="faTwitter" id="tt"></fa-icon></a> </li>
        <li> <a href="#"><fa-icon [icon]="faInstagram" id="ig"></fa-icon></a> </li>
        <li> <a href="#"><fa-icon [icon]="faYoutube" id="yt"></fa-icon></a> </li>
    </ul>

    <!-- scrolldown -->
    <div class="scrolldown">
        <a href="#features" class="scroll-icon smoothscroll" (click)="smoothScroll($event)">
            <span>{{'cover.see-more' | translate}}</span> <!-- Scroll Down -->
            <fa-icon [icon]=" faArrowRight" class="pl-2 fa-lg"></fa-icon>
        </a>
    </div>
  </div>
      
  <!-- Jumping balls -->
  <div class="jumping-balls">
    <div class="ball-1 jumping-animation"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
    <div class="ball-2 jumping-animation2"><img src="../../../assets/images/homepage/green-ball.png"></div>
    <div class="ball-3 jumping-animation2"><img src="../../../assets/images/homepage/green-ball.png"></div>
    <div class="ball-4 jumping-animation3"><img src="../../../assets/images/homepage/blue-ball.png"></div>
    <div class="ball-5 jumping-animation4"><img src="../../../assets/images/homepage/yellow-ball.png"></div>
  </div>
      
</section>      
