@import "~styles/colors";
@import "~styles/mixins";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#page-not-found {
  height: 100vh;
  width: 100vw;
  background-color: $cf-dark;

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    padding: 0 3rem;
  }
}
