@import "../../../../styles/colors";
@import "../../../../styles/mixins";

@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";


.map-cards { height: fit-content; }

:host {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
  @include media-breakpoint-down(md) {
    display: block;
  }
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  flex-wrap: wrap;
  margin: 0 0.5rem;
}

nb-card-header {
  font-family: quicksand-bold, sans-serif;
  font-size: 1.1rem;
  color: $cf-dark;
}

nb-card-body {
  font-family: quicksand-regular, sans-serif;
  font-size: 1.1rem;
  color: $cf-text;
}

.description {
  @include media-breakpoint-up(lg) {
    min-height: 17.8rem;
    textarea { height: 24.5rem; }
  }

  @include media-breakpoint-down(md) {
    textarea { height: 12rem; }
  }
}

.web { color: $cf-gray; }
.fb { color: $facebook; }
.tt { color: $twitter; }
.yt { color: $youtube; }
.web:hover, .fb:hover, .ig:hover, .tt:hover, .yt:hover { opacity: .8; }
