<div class="map-cards">

    <!-- Row #1 -->
    <div class="card-row">

        <!-- Col #1 -->
        <div class="card-col">

            <!-- address -->
            <nb-card class="inside-card">
                <nb-card-header>
                    <img src="../../../../assets/images/map/icons/map-element/address.svg" class="mr-2" alt="">
                    Morada
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ address }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <textarea nbInput fullWidth status="success" value="{{ address }}"></textarea>
                </nb-card-body>
            </nb-card>

            <!-- description -->
            <nb-card class="description inside-card">
                <nb-card-header>
                    <img src="../../../../assets/images/map/icons/map-element/description.svg" class="mr-2" alt="">
                    Descrição
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ description }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <textarea nbInput fullWidth status="success" value="{{ description }}"></textarea>
                </nb-card-body>
            </nb-card>

        </div>

        <!-- Col #2 -->
        <div class="card-col">

            <!-- hours -->
            <nb-card class="inside-card">
                <nb-card-header>
                    <img src="../../../../assets/images/map/icons/map-element/hours.svg" class="mr-2" alt="">
                    Horário
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ hours }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <textarea nbInput fullWidth status="success" value="{{ hours }}"></textarea>
                </nb-card-body>
            </nb-card>

            <!-- contact -->
            <nb-card class="inside-card">
                <nb-card-header>
                    <img src="../../../../assets/images/map/icons/map-element/phone.svg" class="mr-2" alt="">
                    Contacto
                </nb-card-header>
                <nb-card-body *ngIf="!editMode">{{ phone }}</nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <textarea nbInput fullWidth status="success" value="{{ phone }}"></textarea>
                </nb-card-body>
            </nb-card>

            <!-- links -->
            <nb-card class="inside-card" style="min-height: 8rem">
                <nb-card-header>Website & Redes sociais</nb-card-header>
                <nb-card-body *ngIf="!editMode">
                    <div class="links d-flex justify-content-around align-items-center">
                        <a *ngFor="let link of links; let last = last" class="p-0 p-md-1"
                           [ngClass]="{'mr-0': last, 'mr-4': !last}" href="{{link.link}}" target="_blank">
                            <fa-icon *ngIf="link.type === 'website'" [icon]="faGlobe" class="web fa-lg"></fa-icon>
                            <fa-icon *ngIf="link.type === 'facebook'" [icon]="faFacebook" class="fb fa-lg"></fa-icon>
                            <fa-icon *ngIf="link.type === 'instagram'" [icon]="faInstagram" class="ig fa-lg"></fa-icon>
                            <fa-icon *ngIf="link.type === 'twitter'" [icon]="faTwitter" class="tt fa-lg"></fa-icon>
                            <fa-icon *ngIf="link.type === 'youtube'" [icon]="faYoutube" class="yt fa-lg"></fa-icon>
                        </a>
                    </div>
                </nb-card-body>
                <nb-card-body *ngIf="editMode">
                    <div *ngFor="let link of links" class="d-flex align-items-center mb-2">
                        <div class="d-flex justify-content-center align-items-center" style="width: 2rem">
                            <fa-icon *ngIf="link.type === 'website'" [icon]="faGlobe" class="web fa-lg"></fa-icon>
                            <fa-icon *ngIf="link.type === 'facebook'" [icon]="faFacebook" class="fb fa-lg"></fa-icon>
                            <fa-icon *ngIf="link.type === 'instagram'" [icon]="faInstagram" class="ig fa-lg"></fa-icon>
                            <fa-icon *ngIf="link.type === 'twitter'" [icon]="faTwitter" class="tt fa-lg"></fa-icon>
                            <fa-icon *ngIf="link.type === 'youtube'" [icon]="faYoutube" class="yt fa-lg"></fa-icon>
                        </div>

                        <input class="w-100 ml-3" type="text" nbInput value="{{ link.link }}" status="success"
                            style="max-width: none">
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>

