/* ===================================================================
 *
 *  Cycling Fizz v1.0 Footer Stylesheet
 *  11-10-2019 #FIXME
 *
 * =================================================================== */

@import "~styles/colors";
@import "~styles/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


footer {
    color: $cf-darkGray;
    font-family: 'quicksand-regular', sans-serif;
    overflow-x: hidden;
    background: $cf-bege;

    section {
      width: 100vw;
    }

    h5 {
        font-family: 'quicksand-bold', sans-serif;
    }

    p {
        margin-top: 1.5rem;
        text-align: justify;
        line-height: 1.9rem;

        a {
            color: $cf-darkGray;
        }
    } #contactar { text-align: left; }

    .sub-heading-icon {
        display: inline-flex;
    }

    .credits a {
        color: $cf-darkGray;
        text-decoration: underline;
        &:hover, &:focus {
            color: $cf-orange;
        }
    }

    .social a {
        text-align: center;
        height: 3rem;
        width: 3rem;
        background: #cecbc630;
        border-radius: 100%;
        line-height: 3rem;
        color: $cf-darkGray;
        @include transition(all 0.2s ease-in-out);

        @include media-breakpoint-up(lg){
            &:hover {
                #fb { color: $facebook; }
                #tt { color: $twitter; }
                #ig { color: $instagram; }
                #yt { color: $youtube; }
                @include transform(translateY(-0.5rem));
            }
        }
    }
}


@include  media-breakpoint-down(md) {
    .row p {
        text-align: center;
    }
}
