<footer>
    <div class="fluid-container">
        <div class="row justify-content-around text-center text-lg-left px-5 pt-5">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 pb-5 mb-4 pb-lg-2 mb-lg-0">
                <img src="../../../assets/images/logo-darkGray.svg" alt="Cycling Fizz logo" class="logo">
                <p>
                    {{'footer.col1' | translate}}
                </p>
                <div class="social d-flex justify-content-center justify-content-lg-start">
                        <a href="#" class="mr-2">
                          <fa-icon [icon]="faFacebookF" id="fb" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#" class="mx-2">
                            <fa-icon [icon]="faTwitter" id="tt" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#" class="mx-2">
                            <fa-icon [icon]="faInstagram" id="ig" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#" class="ml-2">
                            <fa-icon [icon]="faYoutube" id="yt" class="fa-lg"></fa-icon>
                        </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-5 col-sm-12 pb-5 pb-lg-2" id="contact">
                <span class="sub-heading-icon">
                    <h5 class="font-qks-bold">{{'footer.col2.header' | translate}}</h5>
                    <fa-icon [icon]="faEnvelope" class="fa-md ml-2"></fa-icon>
                </span>
                <p>
                    <b>{{'footer.col2.part1' | translate}}</b>
                    <br>{{'footer.col2.part2' | translate}}<a href="#"><b>contacto@cyclingfizz.pt</b></a>.
                </p>
            </div>
            <div class="col-xl-4 col-lg-7 col-md-6 col-sm-11" id="newsletter">
                <span class="sub-heading-icon">
                    <h5>Newsletter</h5>
                    <fa-icon [icon]="faPaperPlane" class="fa-md ml-2"></fa-icon>
                </span>
                <p>
                    <b>{{'footer.col3.part1' | translate}}</b>
                    <br>{{'footer.col3.part2' | translate}}
                </p>
                <app-newsletter-subscribe [border]="false"></app-newsletter-subscribe>
            </div>
        </div>

        <div class="pb-4 text-center">
            <small class="credits"><a href="#" routerLink="/credits">{{'footer.credits' | translate}}</a></small>
            <br>
            <small>&copy; Cycling Fizz, 2020. {{'footer.author-rights' | translate}}</small>
        </div>

    </div>
</footer>
