<nb-card class="inside-card" style="min-height: 8rem">

    <nb-card-header class="d-flex justify-content-between align-items-center">
        <div>
            <img src="{{iconSrc}}" class="mr-2" alt="icon">
            {{title}}
        </div>
        <nb-icon class="cursor-hover ml-2" icon="info" nbPopover="{{ hint }}" nbPopoverTrigger="hint"></nb-icon>
    </nb-card-header>

    <nb-card-body *ngIf="!editMode">
        <span *ngIf="type === 'text'">{{ option.label }}</span>
        <span *ngIf="type === 'number'">{{ option }}</span>
        <div *ngIf="type === 'stars'">
            <div class="rating d-flex align-items-center">
                <div *ngFor="let i of options">
                    <nb-icon *ngIf="i" class="star mr-1" icon="star"></nb-icon>
                    <nb-icon *ngIf="!i" class="star not-filled mr-1" icon="star"></nb-icon>
                </div>
            </div>
        </div>
    </nb-card-body>

    <nb-card-body *ngIf="editMode">
        <nb-select *ngIf="type === 'text'" [selected]="option.id.toString()" status="success">
            <nb-option *ngFor="let option of options" value="{{ option.id }}" class="success">{{ option.label }}</nb-option>
        </nb-select>

        <input *ngIf="type === 'number'" type="text" nbInput value="{{ option }}" status="success">

        <nb-select *ngIf="type === 'stars'" [selected]="(option-1).toString()" status="success">
            <nb-option *ngFor="let n of options; let i = index" value="{{ i }}" class="success">{{ i+1 }}</nb-option>
        </nb-select>

    </nb-card-body>

</nb-card>
