<!-- /* ===================================================================
      *
      *  Vendor content by: Valery Alikin
      *  URL: https://codepen.io/AlikinVV/pen/JORbvO
      *
      * =================================================================== */ -->

<div class="action-button bottom-right triangle">
    <p class="ab-link font-qks-medium pb-2" data-toggle="tooltip" data-placement="top" title="Adicionar item"
       (click)="toggleFloatingBtn()">+</p>
    <ul class="action-list">
        <li data-toggle="tooltip" data-placement="left" title="Loja & Oficina">
            <img src="../../../../assets/images/map/icons/icon-store.svg" alt="Bicycles' stores and workshops" aria-hidden="true">
        </li>
        <li data-toggle="tooltip" data-placement="left" title="Estacionamento">
            <img src="../../../../assets/images/map/icons/icon-parking.svg" alt="Parking" aria-hidden="true">
        </li>
        <li data-toggle="tooltip" data-placement="top" title="Ciclovia">
            <img src="../../../../assets/images/map/icons/icon-bikelane.svg" alt="Bikelanes" aria-hidden="true">
        </li>
    </ul>
</div>
